.activity-calculator {
	padding: 60px 0 0;
  position: relative;
  
  .intro-text p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .question {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px;
    
    p {
      margin: 0 48px 0 0;
    }

  }

  input.single {
    width: 48px;
    height: 48px;
    background: $white;
    border: 1px solid $black;
    text-align: center;
    font-size: 20px;
    font-family: $font;
	}
	
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}

  .get-retsults-container {
    margin-top: 34px;
    padding-bottom: 8px;
    text-align: right;
  }

  button.get-results, button.restart-activity {
    background-color: $white;
    color: $black;
    padding: 12px 24px;
    line-height: 1;
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $black;
    cursor: pointer;

		&:hover,
		&:focus {
      background-color: $black;
      color: $white;
    }
	}
	
	.restart-container {
		margin-top: 32px;
		margin-bottom: 8px;
	}


	.secret {

		display: none;

		margin-top: 48px;
		
		.container{
			flex-flow: column;
			justify-content: center;
			align-items: center;

			@media(min-width: 1200px){

				flex-flow: row;
				align-items: left;
				justify-content: space-between;
			}
		}

		.mm-group_inner .intro-text {
			border-top: 4px solid $black;
			padding-top: 28px;
		}

		button.button {

			// @extend .orange-button;
			width: initial;
		}

	}

	.results-text {
		display: none;

		&.active {
			display: block;
		}
	}

	.activity-graph-container {
		padding-top: 32px;
	}

	.activity-graph {

		background-image: url(/wp-content/themes/moving-medicine-2020/images/activity_graph.svg);
		background-repeat: no-repeat;
		width: 80%;
		height: 148px;
		position: relative;
		left: 26px;

		@media(min-width: 1024px ) {

			height: 394px;
			margin: auto;
		}


		.graph-info-text {

			position: absolute;
			text-transform: uppercase;
			text-align: center;

			&.bold {

				font-weight: 700;
			}

			&.small {

				font-size: 10px;

				@media(min-width: 1024px ) {

					font-size: 14px;
				}
			}

			&.big {

				font-size: 12px;

				@media(min-width: 1024px ) {

					font-size: 22px;
				}
			}

			&.bottom {

				bottom: 40px;
			}

			&.minutes-per-week {

				top: 95%;
				left: 23%;
			}

			&.higher {

				right: 102%;
				top: 0;
			}

			&.lower {

				right: 102%;
				top: 89%;
			}

			&.relative-risk {

				right: 102%;
				top: 40%;
			}

			&.thirty {

				left: 8.5%;
			}

			&.sixty {

				left: 17%;
			}

			&.hundred-fifty {

				right: 47%;
			}

			&.three-hundred {

				right: 0;
			}

		}

		.meter {

			background-image: url(/wp-content/themes/moving-medicine-2020/images/you_dots_line.svg);
			background-position-x: 3px;
		    height: 83.3%;
		    width: 12px;
		    position: absolute;
		    background-repeat: no-repeat;
		    top: 15px;
		    cursor: e-resize;
		    // transition: $transition;

		    @media( min-width: 1024px ) {

		    	height: 78%;
		    }



		    &.no-transition {

		    	transition: none;
		    }

		    &:before {

				content: 'you';
			    position: absolute;
			    top: -27px;
			    text-transform: uppercase;
			    font-size: 24px;
			    // @extend .filson-pro-bold;
		    }

		}
	}

	&.question {

			padding-top: 80px;
			padding-bottom: 50px;
			display: none;

			input[type=text] {

				width: 55px;
				height: 55px;
				margin-right: 20px;
				// @extend .filson-pro-regular;
				font-size: 24px;
				text-align: center;
				// border: 1px solid $orange;
			}

			button {

				// @extend .orange-button;
				width: initial;

			}
		

		.container {

			flex-flow: column;

			& > span {

				text-align: center;
			}
		}

		.questions {

			display: flex;
			flex-flow: row;
			margin-bottom: 55px;
		}

		.question {

			display: flex;
			flex-flow: row;
			justify-content: space-between;
			padding-right: 25px;
			width: 50%;

		}

		.input {

			display: flex;
			align-items: center;
			justify-content: flex-start;

			p {

				margin-bottom: 0;
			}
		}

		p {

			// @extend p;
			color: white;
		}

		.q-yellow {

			// color: $orange;
			// @extend .filson-pro-bold
		}

		width: 100%;
		// background: $grey;
	}
}