.triangle-for-tools {

	position: relative;

	&:after {
		@include css-triangle($mm-yellow, $direction: down, $size: 32px, $position: absolute, $round: false);
		@include centerer($horizontal: true, $vertical: false);
	}
}
