section.content-section.decision-tool {
	padding: 0;
}

.decision-inner {
	display: flex;
	flex-direction: row;

	> div {
		flex-basis: 50%;
	}

	.decision-not-ready {
		.triangle-for-tools:after {
			margin-left: -24px;
		}
	}

	.decision-ready {
		.triangle-for-tools:after {
			margin-left: 24px;
		}
	}

	.decision-spacer {
		padding: 72px 24px 0;
	} 

}