.resources-items {
  display: flex;
  flex-direction: row;
  margin: 16px -16px;
  flex-wrap: wrap;

  .resources-item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    // flex-basis: 50%;
    width: 50%; // IE workaround

    @include for-size(tablet-small) {
      flex-basis: 100%;
    }

    .content {
      flex-grow: 1;
    }
  }
}

.link-row {
  display: flex;
  flex-direction: row;
  margin-top: 24px;

  .link {
    margin-right: 16px;
  }
}

section.resources-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  z-index: 99;
  opacity: 0;
  display:none;
  pointer-events: none;
  overflow: auto;
  @include transition;

  &.open {
  	opacity: 1;
  	pointer-events: auto;

  	.inner {
  		.info, .code {
  			transform: rotateY( 0deg );
  			transition-duration: 1.5s;
  			transition-delay: 0.2s;
  		}
  	}

  	.content > a {
  		opacity: 1;
  		transform: scale(1);
  		transition-delay: 0.7s;
  	}
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90vw;
    max-width: $container-tablet-landscape;
    // max-height: calc(100vh - 100px);
    overflow: visible;

    & > a {
	    position: absolute;
	    top: -15px;
	    left: 100%;
	    color: $white;
	    display: block;
	    padding: 15px;
	    padding-right: 8px;
	    text-decoration: none;
	    font-weight: 500;
	    font-size: 16px;
	    line-height: 16px;
	    opacity: 0;
	    transform: scale(0);
	    @include transition;

	    svg {
	    	position: absolute;
		    top: 50%;
		    left: 100%;
		    width: 16px;
		    height: auto;
		    transform: translateY(-50%);

		    path {
		    	fill: $white;
		    }
	    }
    }

    .qrcode-image img {
      width: 100%;
      height: 100%;
    }
  }

  .inner {
  	display: flex;
  	perspective: 1000px;

  	.info, .code {
  		flex: 1;
  		padding: 50px;
  		overflow: hidden;
  		background: $white;

  		@include transition;
  	}

  	.info {
  		background: $mm-yellow;
	    overflow-y: scroll;

      transform-origin: right center;
	    transform-style: preserve-3d;
	    transform: rotateY( 90deg );
  	}

  	.code {
  		transform-origin: left center;
	    transform-style: preserve-3d;
	    transform: rotateY( -90deg );
  	}

  	h1 {
  		line-height: 1.2em;
  		margin-bottom: 50px;
  	}

  	h5 {
  		line-height: 1.2em;
  		margin-bottom: 30px;
  	}

  	p, h5 { font-weight: bold; }

  	svg {
  		width: 100%;
  		height: auto;
    }

    .qrcode-image {
      display: block;
      padding: 40px;
      background: linear-gradient(to right, $black 12px, transparent 12px) 0 0, linear-gradient(to right, $black 12px, transparent 12px) 0 100%, linear-gradient(to left, $black 12px, transparent 12px) 100% 0, linear-gradient(to left, $black 12px, transparent 12px) 100% 100%, linear-gradient(to bottom, $black 12px, transparent 12px) 0 0, linear-gradient(to bottom, $black 12px, transparent 12px) 100% 0, linear-gradient(to top, $black 12px, transparent 12px) 0 100%, linear-gradient(to top, $black 12px, transparent 12px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 20% 20%;
    }

  	// .button {
  	// 	// background: $white;

  	// 	&:hover {
  	// 		background: $black;
  	// 	}
  	// }
  }

  @include for-size(tablet) {
    transition-delay: 0.3s;

    .content {
      overflow-y: scroll;
      text-align: right;
      max-height: calc(100vh - 40px);

      & > a {
        position: sticky;
        left: auto;
        right: 0;
        top: 0;
        padding-right: 25px;
        display: inline-block;
        background: #333;
        z-index: 999;
        border-radius: 0 0 0 15px;
        transform: translate(1px, -1px);

        svg {
          right: 0;
          left: auto;
        }
      }

      h1 {
        font-size: 29px;
      }

      h5, p {
        font-size: 16px;
      }
    }

    .qrcode {
      flex-direction: column;
      text-align: left;
      perspective: 2000px;

      .info, .code {
        transform: rotateX( -90deg );
        transform-origin: top;
        transition-duration: 0.3s;
      }

      .info {
        transition-delay: 0.3s;
      }
    }

    &.open {
      transition-delay: 0s;
      .qrcode {
        .info, .code {
          transition-duration: 1s;
          transform: rotateX( 0deg );
        }
        .code { transition-delay: 0.6s; }
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
  transform: unset;

  #wpadminbar {
    top: 0 !important;
  }
}