.share-benefits-container {
	.table-container {
		display: none;

		&.active {
			display: flex;
		}
	}

	.share-benefits-supplementary-text {
		margin-top: 36px;
	}
}

.share-benefits-conditions {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 3px solid;
	margin-bottom: 32px;

	li {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.active {
			font-weight: 700;
		}

		a {
			&:link,
			&:visited,
			&:hover {
				text-decoration: none;
				display: block;
				padding: 16px 24px;
				color: $black;
			}

		}
	}
}

