.consultation-guide_slide-menu {

    position: sticky;
    margin-top: -32px; // Ignored when position fixed
    bottom: 0;
    width: 100%;
    z-index: 999;

  .tns-ovh {
    padding-top: 30px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none; 
    }

    .tns-inner {
      background: $mm-yellow;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
        height: 64px;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
    }

    a:link {
      display: block;
      color: $black;
      text-decoration: none;
      font-weight: 300;
      padding: 32px 15px;
      white-space: nowrap;
      font-size: 16px;
    }

    li.active {
      position: relative;

      a {
        font-weight: 600;
      }

      &:after {
        @include css-triangle($mm-yellow, $direction: up, $size: 24px, $position: absolute, $round: false);
        @include centerer($horizontal: true, $vertical: false);
        bottom: 100%;
      }
    }
  }
}