.consultation-guide-landing {
  &.young-person {
    h1 {
      font-family: $young-person-font;
      font-size: 3em;
      margin-bottom: 18px;
    }
  }

  &.child {
    h1 {
      font-family: $child-font;
      font-size: 3em;
      margin-bottom: 18px;
    }
  }
}

.triangle-for-tools {

	position: relative;

	&:after {
		@include css-triangle($mm-yellow, $direction: down, $size: 32px, $position: absolute, $round: false);
		@include centerer($horizontal: true, $vertical: false);
	}
}

.insight-group_inner {
  display: flex;
  flex-wrap: wrap;

  .wp-block-group {
    flex: 1;
  }
}

.slide-title {
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: $black;
	padding: 0 0 6px 0;
	margin: 30px 0;
	border-bottom: 3px solid $black;
  letter-spacing: -0.8px;
  flex-basis: 100%;

	@include marginFix;
}

h2.slide-title {
  font-size: 20px;
  padding: 0 0 2px 0;
}

$durations: ('one-minute': $one_min_total, 'five-minute': $five-min-total, 'more-minute': $more-min-total);

$count: 0;
@each $duration, $duration-total in $durations {

  $length: length($durations);
  .consultation-landing a.#{$duration} svg {
    path,
    rect,
    polygon {
      @include slide-icon-fill-color(length($durations), $count);
    }
  }

  .consultation-landing a.#{$duration} svg {
    path,
    rect,
    polygon,
    circle  {
      @include slide-icon-stroke-color($length, $count);
    }
  }

  $count: $count + 1;

  @for $i from 0 through $duration-total - 1 {
    .#{$duration} {
      .slide_#{$i} .intro-group,
      .slide_#{$i} .cycles-container ul li.step,
      .consultation-header .consultation-guide_section-menu ul li[data-current-index="#{$i}"].active a, 
      .consultation-guide_slide-menu[data-current-index="#{$i}"] .tns-ovh .tns-inner li,
      .consultation-guide_slide-menu[data-current-index="#{$i}"] .tns-ovh .tns-inner,
      .slide_#{$i} .share-benefits-conditions li.active,
      .slide_#{$i}.modal .inner .info {
        @include slide-background-color($duration-total, $i);
      }
  
      .consultation-guide_section-menu ul li[data-current-index="#{$i}"].active a:after {
        @include section-right-arrow-color($duration-total, $i);
      }
  
      .consultation-guide_slide-menu[data-current-index="#{$i}"] .tns-ovh .tns-inner .active:after {
        @include slide-top-arrow-color($duration-total, $i);
      }

      .slide_#{$i} {

        .triangle-for-tools:after,
        .cycles-container ul li.step:after {
          @include slide-bottom-arrow-triangle-color($duration-total, $i);
        }

        .share-benefits-tool .share-benefits-list a.active,
        .activities-tool .activities-list a.active,
        .cycles-impacts .cycles-col a.active {
          @include slide-text-color($duration-total, $i);
        }

        .table .table-items .table-item svg,
        .accordion .accordion-item .image svg {
          path,
          rect,
          polygon,
          circle {
            @include slide-icon-fill-color($duration-total, $i);
          }
        }
      }
    }
  }
}


.slide {
  background: $white;

  .extras {
    display: flex;
    margin-bottom: 24px;

    @include for-size(tablet-small) {
      flex-direction: column;
    }
    
    .icon img {
      width: 100px;
      
      @include for-size(tablet-small) {
        display: none;
      }
      
      &.real-impact {
        width: 85px;
        margin-left: 10px;
      }
    }
    

    .extra {
      width: 25%;
      margin-left: 52px;

      @include for-size(tablet-small) {
        width: 100%;
        margin: 0 0 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

.consultation-guide {
  section.cg-tool {
    padding: 60px 0 0;

    .title {
      margin-bottom: 20px;
    }
  }
}