.consultation-guide-conversation.show-main-nav #main-header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.consultation-header {
  background: $black;
  position: sticky;
  top: $header-height;
  z-index: 98;

  .transform-adjustments & {
    top: 0;
  }

  // .show-main-nav & {
  //   top: $header-height
  // }

  & > .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @include for-size(tablet-wide) {
      align-items: flex-start;
      height: 104px;
      padding-bottom: 0;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    border-bottom: none;
    flex: 0.3;

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $white;
        text-decoration: none;
      }
    }
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
      text-decoration: none;
    }
  }

  .consultation-guide_section-menu {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include for-size(tablet-wide) {
      overflow-x: auto;
      align-self: flex-end;
      flex-basis: 100%;
      order: 10;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    > ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px;
        font-weight: 700;
        font-size: 16px;

        @include marginFix;

        &:first-child {
          margin-left: 0;
        }

        a {
          padding: 6px;
          padding-right: 0;
          white-space: nowrap;
          display: block;
        }

        &.active {
          a {
            position: relative;
            background: $mm-yellow;
            color: $black;

            &:after {
              @include pseudo($display: block, $pos: absolute);
              border-top: 19px solid transparent;
              border-bottom: 19px solid transparent;
              border-left: 15px solid #ffc300;
              margin-right: -15px;
              top: 0;
              right: 0;
            }
          }
        }

        body.five-minute &:nth-child(n + 3).active {
          a {
            color: $white;
          }
        }

        body.more-minute &:nth-child(n + 4).active {
          a {
            color: $white;
          }
        }
      }
    }

    li > ul {
      position: absolute;
      top: -1000%;
      left: 0;
    }
  }
}

body.consultation-guide-conversation,
body.active-hospitals-toolkit {
  &.transform-adjustments .consultation-guide_slide-menu {
    transform: none;
  }

  .secondary-hamburger {
    @include for-size(tablet-wide) {
      margin-left: auto !important;
      align-self: flex-start !important;
    }
  }

  transform: translateY(-$header-height);
  margin-bottom: -$header-height;
  @include transition(0.2s);

  .consultation-guide_slide-menu {
    transform: translateY($header-height);
    @include transition(0.2s);
  }

  .consultation-guide_slide-menu {
    // margin-top: -#{$header-height + 30px};
  }

  &.show-main-nav {
    transform: none;
    @include transition;

    .consultation-guide_slide-menu {
      transform: translateY(0);
      @include transition;
    }

    #main-footer {
      margin-top: 0;
    }

    .consultation-guide_slide-menu {
      margin-top: -30px;
    }

    &.admin-bar {
      #wpadminbar {
        @include transition;
        top: -32px;
      }
    }
  }

  &.admin-bar {
    #main-header.active {
      top: 28px;
    }

    #wpadminbar {
      top: $header-height - 32px;
      @include transition(0.2s);
    }
  }

  .active-hospitals-nav {
    margin-right: auto;
  }

  .secondary-hamburger {
    position: relative;
    align-self: center;
    margin: 0;
    margin-left: 24px;

    @include hamburger-css($color: $white, $border-width: 1px);
  }
}

body.consultation-guide-conversation:not(.transform-adjustments) {
  .logo-footer,
  .consultation-guide_slide-menu + #main-footer {
    margin-top: $header-height;
  }

  &.show-main-nav {
    .logo-footer,
    .consultation-guide_slide-menu + #main-footer {
      margin-top: 0;
    }
  }
}
