.consultation-landing {
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 130px);

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
    letter-spacing: 0;
  }

  .young-person {
    h1 {
      font-family: $young-person-font;
    }
  }

  .child {
    h1 {
      font-family: $child-font;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 12px;
  }

  p {
    line-height: 1.6;
    font-size: 18px;
  }

  .content {
    display: flex;
    max-width: 600px;
    height: 100%;
    padding: 88px 0;
    justify-content: center;
    flex-direction: column;
  }

  .details,
  .tiles > a {
    display: flex;
    flex-direction: column;
    padding: 44px 40px 40px;
    background: $black;
  }

  .details {
    position: relative;

    &:after {
      @include pseudo($display: block, $pos: absolute);
      @include css-triangle($black, $direction: down, $size: 35px, $position: absolute, $round: false);
      position: absolute;
      top: 100%;
      left: 9%;
      @include transition;

      @include for-size(tablet-small) {
        @include centerer($vertical: false);
      }
    }

    &.one-minute:after {
      transform: translateX(0);
      @include for-size(tablet-small) {
        transform: translateX(-50%);
      }
    }

    &.five-minute:after {
      transform: translateX(300%);
      @include for-size(tablet-small) {
        transform: translateX(-50%);
      }
    }

    &.more-minute:after {
      transform: translateX(600%);
      @include for-size(tablet-small) {
        transform: translateX(-50%);
      }
    }
  }

  .tiles {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;

    a {
      display: flex;
      // flex-basis: 30%;
      width: 30%;
      padding: 15px;
      color: $white;
      text-align: center;
      height: 180px;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      @include marginFix;

      @include for-size(tablet-small) {
        flex-basis: 100%;
        margin: 8px 0;
      }

      svg {
        margin-bottom: 15px;
        width: 50px;
        height: auto;

        path {
          fill: $white;
        }
      }
      span {
        line-height: 26px;
        font-size: 18px;
        width: 100%;
      }
    }
  }
}

body.admin-bar {
  .consultation-landing {
    min-height: calc(100vh - 162px);
  }
}