.mm-group.insight-group {
  padding: 60px 0;

  // .insight-group_inner {
  //   @include container($container-tablet-portrait);
  // }

  .wp-block-image {
		.alignleft {
			margin-right: 32px;
    }
    
    @include for-size(tablet-small) {
      display: none;
    }
	}
}