.consultation-guide {
  &.young-person {
    .intro-group h2 {
      font-family: $young-person-font;
      font-size: 40px;
      margin-bottom: 18px;
    }
  }

  &.child {
    .intro-group h2 {
      font-family: $child-font;
      font-size: 40px;
      margin-bottom: 18px;
    }
  }
}

.intro-group {
  background: $mm-yellow;
  padding: 80px 0;
  // min-height: 480px;
  display: flex;
  align-items: center;

  @include for-size(tablet-small) {
    padding: #{$section-spacing / 1.5} 30px;
  }

  .intro-group_inner {
    // @include container($container-tablet-landscape);
    // padding: 0px 100px;

    .wp-block-group__inner-container {
	    display: flex;
		}

		.wp-block-image {
			.alignleft {
				margin-right: 30px;
      }
      
      @include for-size(tablet-small) {
        display: none;
      }
		}

		h1 {
      margin-bottom: 72px;
      
      @include for-size(tablet-small) {
        margin-bottom: $section-spacing / 2;
      }
		}

		h2 {
			font-weight: 500;
      line-height: 1.15em;
      
      @include for-size(tablet-small) {
        font-size: 28px;
      }
		}
  }
}