.accordion {
	@include element_properties;

	.accordion-item {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
		border-bottom: 2px solid $black;
		
		.number {
			@include number;
		}

		.image {
			@include list_image;

			&.svg {
				background: none;
			}
			
			svg {
				width: 100%;
				height: 100%;

				body.core & {
					path,
					rect,
					circle,
					polygon {
						fill: $mm-green;
					}
				}

				body.active-hospitals & {
					path,
					rect,
					circle,
					polygon {
						fill: $ah-purple;
					}
				}
			}

	    @include for-size(tablet) {
	    	position: absolute;

	    	& + .content > header {
	    		padding-left: 65px;
	    	}
	    }
		}

		.content {
			flex: 1;

			main {
				display: none;

				img {
					width: 100%;
					height: auto;
				}

				@include for-size(tablet) {
					padding: 15px 0;
				}
				
				padding-top: 8px;
			}

			header {
		    display: flex;
		    align-items: center;
				min-height: $image-small;
				cursor: pointer;

		    * { 
		    	line-height: 1.25em;
		    	font-weight: 500;
		    }

		    @include for-size(tablet) {
		    	padding-right: 65px;
		    }
			}
		}

		.expander {
	    display: flex;
	    align-items: flex-start;
	    margin-left: 20px;
	    @include transition;

			a {
		    display: flex;
		    width: $image-small;
		    height: $image-small;
		    border: 2px solid $black;
		    justify-content: center;
		    align-items: center;
		    perspective: 1000px;
		    @include transition;

		    svg { @include transition;
		    	path { @include transition; }
		    }

		    &:hover {
		    	background: $black;
		    	svg path { fill: $white; }
		    }
		  }

		  @include for-size(tablet) {
		  	position: absolute;
		  	right: 30px;
		  }
		}

		&.open {
			.expander {
				a {
					background: $black;
					svg {
						transform: rotateX(180deg);
						path { fill: $white; }
					}
				}
			}
		}
	}
}