.active-hospital-header {
  background: $black;
  padding-bottom: 80px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    background: $ah-blue;
  }

  & > .container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: visible;

    @include for-size(tablet-wide) {
      padding: 20px 30px 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    border-bottom: none;
    padding: 20px 20px 20px 0;
    white-space: nowrap;

    @include for-size(tablet-wide) {
      padding: 0;
    }
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
      text-decoration: none;
    }
  }

  nav.active-hospitals-nav {

    @include for-size(tablet-wide) {
      order: 10;
      margin-top: 12px;
    }

    & > ul {
      display: flex;
      height: 100%;
      margin: 0;

      @include for-size(tablet-wide) {
        width: calc(100vw - 30px);
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      li {
        height: 100%;
        margin: 0;
        display: block;

        a {
          display: flex;
          height: 100%;
          font-weight: 300;
          text-align: center;
          padding: 10px;
          font-size: 18px;
          line-height: 18px;
          align-items: center;
          justify-content: center;
          @include transition;

          @include for-size(tablet-wide) {
            white-space: nowrap;
          }
        }

        &:hover,
        &:focus {
          & > a {
            background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,0.1));
          }
        }

        &.active {
          & > a {
            background: $ah-blue;
            color: darken($black, 5%);
            font-weight: bold;
          }

          ul {
            display: flex;
          }
        }
      }

      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 30px;
        width: calc(100% - 60px);
        margin: 0;
        background: $ah-blue;

        @include for-size(tablet-wide) {
          left: 0;
          padding-left: 30px;
          width: 100%;
        }

        @include for-size(tablet-wide) {
          overflow-x: auto;
        }

        li {
          width: 150px;
          height: 80px;
          flex: unset;

          @include for-size(tablet-wide) {
            width: auto;
          }

          a {
            color: darken($black, 5%);
            font-weight: 300;
            font-size: 16px;
            line-height: 1.2em;

            @include for-size(tablet-wide) {
              white-space: nowrap;
            }
          }

          &:hover,
          &:focus {
            & > a {
              background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.1));
            }
          }

          &.active {
            a {
              position: relative;
              background: none;
              font-weight: 700;

              &:after {
                @include pseudo($display: block, $pos: absolute);
                @include css-triangle($ah-blue, $direction: down, $size: 20px, $position: absolute, $round: false);
                @include centerer($horizontal: true, $vertical: false);
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}