.core .section-header {
  background: $mm-blue;
}

.active-hospitals .section-header {
  background: $ah-blue;
}

.consultation-guide .section-header {
    background: $mm-yellow;
}

.active-hospitals-toolkit .section-header {
    background: $white;

  .section-header_inner {
    // max-width: $container-tablet-portrait;
    padding: 64px 30px $section-spacing;

    h1 {
      width: 100%;
      padding-bottom: 24px;
      border-bottom: solid;
      font-size: 42px;
      font-weight: 500;

    }
  }
}

.section-header_inner {
  display: flex;
  flex-direction: row;
  padding: 80px 30px 30px;

  h1 {
    margin: 0;
    flex: 1;
  }

  @include for-size(tablet) {
    flex-direction: column;
    padding: 30px;

    .share {
      margin-top: 30px;
    }
  }
}

.share {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex: .3;

  div svg path {
    fill: $white;
  }

  .logos {
    overflow: hidden;
    margin-left: 15px;
    .logo {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $black;
      border-radius: 50%;
      margin: 0px 7px;
      width: 50px;
      height: 50px;
      float: left;
      @include marginFix($horizontal: true);
      @include transition;

      svg {
        width: 55%;
        height: auto;

        path {
          fill: $white;
          @include transition;
        }
      }

      &:hover,
      &:focus {
        background: $white;
        svg path { fill: $mm-green; 

          body.active-hospitals & {
            fill: $ah-purple; 
          }

          body.consultation-guide & {
            fill: $mm-pink; 
          }
        
        }
      }
    }
  }

  @include for-size(tablet) {
    margin-top: 30px;
  }
}