a.button,
button.button,
input.button {
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid $black;
	background: $white;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-decoration: none;
	@include transition;

	&:link,
	&:visited,
	&:active {
		color: $black;
	}

	&:hover,
	&:focus {
		background: $black;
		color: $white;
		text-decoration: none;
	}

	&.dark {
		background: $black;
		color: $white;
		border-color: $white;

		&:hover,
		&:focus {
			background: $white;
			color: $black;
			border-color: $black;
		}
	}

	&.green {
		background: $mm-green;
	}

	&.cta {
		border-color: $mm-pink;
		color: darken($mm-pink, 10%);

		&:hover,
		&:focus {
			background: $mm-pink;
			color: $white;
		}
	}

	&.small {
		padding: 6px 12px;
		font-size: .75em;
	}

	&.rounded {
		border-radius: 9em;
	}

	&.dark-bg {
		border-color: $white;
	}

	@include for-size(phone-wide) {
		padding: 15px 25px;
	}
}