i.evidence-marker {
  vertical-align: super;
  font-size: .7em;
  margin-right: 2px;
}

.consultation-guide-conversation,
.active-hospitals-toolkit {
  &:not(.show-main-nav) {
    &:not(.admin-bar) {
      [data-tippy-root] {
        margin-top: 128px !important;
      }
    }

    [data-tippy-root] {
      margin-top: 96px !important;
    }
  }
}


.tippy-content {
  padding: 14px 18px;

  h1, h2, h3, h4, h5, p,li {
    font-size: 1em;
    line-height: 1.6;
  }

  .evidence-link {
    display: flex;
    align-items: center;
    font-family: $font;

    p {
      margin-bottom: 0;
    }

    .icon {
      margin-left: 24px;
      font-size: 2.4em;
    }
  }
}