
// .ff-stream .ff-stream-wrapper .ff-item-cont .ff-overlay-wrapper .ff-content

.ff-loadmore-wrapper {
  display: none;
}

    .ff-stream {
      padding: 0 !important;
      min-height: 300px !important;

      background-color: rgb(255, 255, 255)!important;
      .ff-stream-wrapper {
        padding: 0 !important;
      
        .ff-item-cont .ff-overlay-wrapper {

        

 .ff-content {
      margin: 15% 8% 8% 8%;
      overflow: hidden;
      font-family: 'filson-pro', sans-serif;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      a {
        margin-bottom: 0em;
        font-weight: 700;
      }
    }

    .ff-item-bar {
      a:link i, a:visited i, a:hover i, a:active i {
        color: white;
      }
    }

  }

    .ff-loadmore-wrapper {
      display: none;
    }

  
  }
}