#main-footer {
	padding: 70px 0 0 0;
  background: $black;

  @include for-size(tablet) {
    padding: 50px 0 0 0;
  }

  & > .container {
    display: flex;

    & > div {
    	flex-basis: 30%;
      margin: 0px 5%;
      @include marginFix($horizontal: true);
      margin-left: auto;

      @include for-size(tablet) {
        margin-bottom: 30px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }

    @include for-size(tablet) {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }
  }

  h1, h2, h3, h4, h5 {
    font-weight: 500;
  }

  h1, h2, h3, h4, h5, h6, p {
  	color: $white;
  	
  }

  @include for-size(tablet) {
    h6 {
      font-size: 16px;
      font-weight: 300;
    }
  }

  & > .container > .logo {
  	svg {
  		max-width: 280px;

  		path {
        stroke: none;
        
        &.c0ce1fef-e27d-435e-bbff-75e8871c8ab7,
        &.cls-4 {
  				fill: $white;
  			}
  		}
  	}

    @include for-size(tablet) {
      text-align: center;
      min-width: 220px;
      width: 100%;
      margin: 0;
    }
  }

  .authors {
  	.logos {
	    display: flex;
      align-items: center;
	  	.logo {
		    flex-basis: 150px;
		    display: block;
		    margin: 0 20px;
		    @include marginFix($horizontal: true);

        img {
          display: block;
          width: 100%;
          height: auto;
        }
		  }
		}

    @include for-size(tablet) {
      width: 100%;
      text-align: center;

      .logos {
        justify-content: center;
      }
    }
	}

  .social {
  	.logos {
  		overflow: hidden;
  		.logo {
  			flex: 1;
  			display: flex;
  			justify-content: center;
  			align-items: center;
  			background: $mm-blue;
  			border-radius: 50%;
  			margin: 0px 7px;
  			width: 50px;
  			height: 50px;
  			float: left;
  			@include marginFix($horizontal: true);
        @include transition;

	    	svg {
	    		width: 55%;
	    		height: auto;

	    		path {
	    			fill: $white;
            @include transition;
	    		}
	    	}

        &:hover,
        &:focus {
          background: $white;
          svg path { fill: $mm-blue; }
        }
  		}
  	}

    @include for-size(tablet) {
      margin: 0 !important;
      text-align: center;
    }
  }

  .bottom-bar {
  	background: $white;
  	padding: 15px 0;
    margin-top: 70px;

    @include for-size(tablet) {
      margin-top: 50px;

      & > .container {
        flex-direction: column;
      }

      .footer-nav { margin-bottom: 10px; }
    }

  	& > .container {
  		display: flex;
  		justify-content: space-between;
  	}

  	h1, h2, h3, h4, h5, h6, p {
      color: $black;
      font-size: 16px;
    }

  	a {
      text-decoration: none;
      font-size: 16px;
      color: $black;

  		&:hover,
  		&:focus {
  			text-decoration: underline;
  		}
  	}

  	ul {
  		list-style: none;
  		margin: 0;

  		li {
  			display: inline-block;
        margin: 0;
  			margin-right: 15px;
  		}
  	}
  }
}

aside.logo-footer {
  padding: 30px 0;

  &:last-of-type {
    background: $lightgrey;

    .logo-section {
      border-top: none;
    }
  }

  .logo-section {
    border-top: 3px solid $black;
    padding: 20px 0;

    &:last-child { padding-bottom: 0; }
  }

  p {
    margin-bottom: 0;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;

    .logo {
      position: relative;
      flex-basis: 140px;
      margin: 20px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @include marginFix($horizontal: true, $vertical: false);

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      @include for-size(tablet) {
        flex-basis: 90px;
      }

    }
  }
}