.skip-to-content-link {
  position: absolute;
  left: 16px;
  background: $black;
  padding: 12px 16px;
  transform: translateY(-100%);
  transition: transform 0.1s;
  color: white !important;
	z-index: 999;
	text-decoration: none;
}

.skip-to-content-link:focus {
  transform: translateY( 16px );
}

.redirector {
	background: $black;
	padding: 12px;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	p {
		color: white;
		margin: 0 16px 0 0;
	}

	.button {
		margin-left: 16px;
	}

	svg {
		cursor: pointer;
		width: 16px;
		height: 16px;
		path {
			fill: $white;
		}

		&:hover {
			path {
				fill: $lightgrey;
			}
		}
	}
}

#main-header {
	position: relative;
	background: $white;
	z-index: 99;
	height: 128px;

	& > .container {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		overflow: visible;
	}

	.logo {
		width: 200px;
		height: auto;
		margin: 20px 0;

		a {
			display: block;
		}

		// IE11 needs this 🤨
		svg {
			width: 200px;
			height: 90px;	
		}

		svg path {
			stroke: none;
		}
	}

	.menu-back-button {
		display: none;
		opacity: 0;
		pointer-events: none;
	}

	.hamburger {
		position: relative;
		z-index: 100;

		@include hamburger-css;

		display: none;
	}

	.main-navigation {

		align-self: flex-end;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			list-style: none;
			margin: 0;

			li {
				position: relative;
				display: block;
				padding: 13px 7.5px;
		    margin: 0;

		    &:last-child {
		    	padding-right: 0;
		    }

				a {
					display: block;
					padding: 10px 15px;
					margin: 0;
					text-decoration: none;
					font-weight: 500;
					font-size: 16px;
					letter-spacing: -0.5px;
					color: $black;
				}
			}
		}

		.top-nav-container {
			display: flex;
			align-items: center;
		}

		.header-attention-button {
			margin: 0 24px -10px auto;
		}

		.top-menu {
			margin-bottom: -10px;
			z-index: 5;
			flex-direction: row;

			@include for-size(1086px) {
				flex-direction: unset;
			}

			li {
				margin-left: 10px;
				a {
					font-weight: 300;
					color: #666;
					padding: 0;

					i.menu-icon {
						margin-right: 4px;
						
						svg {
							width: 17px;
							height: 17px;
							top: 3px;
							position: relative;
						}
					}

					&:hover {
						color: #666;
						text-decoration: underline;
					}
				}

				.submenu {
					display: none;
					flex-direction: column;
					position: absolute;
					text-align: right;
					right: 0;
					left: unset;
					background: $white;
					border: #e9e9e9 solid 1px;
					padding: 8px 16px;
					margin-top: 12px;
					white-space: nowrap;

					@include for-size(1086px) {
						left: 0;
						right: unset;
						bottom: 100%;
						background: $black;
						border: $grey solid 1px;
						text-align: left;
						padding: 0px;

						li {
							padding: 0px;
							margin: 0;

							&:last-child a {
								padding-bottom: 24px;
							}
						}

						a {
							padding: 24px 24px 8px;
							width: 100%;
							color: $white;
						}
					}

					&.active {
						display: flex;
					}

					li {
						margin-left: 0;
					}

					li:not(:last-child) {
						padding-bottom: 0;
					}
				}
			}
		}

		.main-menu {
			margin-right: -15px;
			
			a[href$="/consultation-guides/"] {
				+ .sub-menu:before,
				+ .sub-menu-wrap .sub-menu:before {
					border-bottom: 4px solid $cg-start;
				}

				+ .sub-menu-wrap .feature:before {
					border-bottom: 4px solid $cg-end;
				}
			}

			a[href$="/active-hospitals/"] {
				+ .sub-menu:before,
				+ .sub-menu-wrap .sub-menu:before {
					border-bottom: 4px solid $ah-blue;
				}

				+ .sub-menu-wrap .feature:before {
					border-bottom: 4px solid $ah-purple;
				}
			}

			.sub-menu-wrap {
				display: none;
				flex-direction: row;
				flex-wrap: nowrap;
				position: absolute;
				background: $white;
				margin-top: 8px;
				left: 50%;
				transform: translateX(-50%);
				box-shadow: 0 4px 8px -4px rgba(0,0,0,0.3);

				&.has-featured {
					transform: translateX(calc( -50% - 110px ));
				}

				.feature {
					min-width: 220px;
					padding: 24px;
					
					&:before {
						content: "Feature";
						display: block;
						position: relative;
						border-bottom: 4px solid $mm-green;
						font-size: 15px;
						padding: 0px 0px 10px 0;
						margin-bottom: 16px;
						font-weight: 500;
						line-height: 1.5em;
					}

					a {
						padding: 0;
					}

					h4 {
						line-height: 1.2em;
					}

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				&.has-finder {
					transform: translateX(calc( -50% ));

					.nav-consultation-finder {
						min-width: 700px;
						padding: 24px;
						padding-right: 0;

					}
				}

				.button-container {
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					padding-top: 18px;
				}
				
				.nav-consultation-finder {
					h4 {
						position: relative;
						border-bottom: 4px solid $mm-pink;
						font-size: 15px;
						padding: 0px 0px 10px 0;
						margin-bottom: 4px;
						font-weight: 500;
						line-height: 1.5em;
					}
				}
				
				.options {
					display: flex;
					flex-direction: row;
					border-bottom: $black solid 1px;
					padding: 16px 0 16px;
				
					.options:first-child {
						margin-top: 0;
					}
				
					.labels {
						flex-basis: 120px;
						
						p {
							font-weight: 700;
							font-size: 17px;
						}
					}
				
					&.conditions {
						.values {
							flex: 1;
							display: none;
				
							&.active {
								display: block;
							}
				
							ul {
								margin-left: 22px;
							}
				
							li {
								flex-basis: 33%;
								display: flex;
								margin: 0;
								padding-bottom: 8px;
								margin-right: -24px;
				
								&:nth-child(3n-1):last-child {
									margin-right: auto;
									margin-left: 38px;
								}
							}
						}
					}
				
					&.durations {
						width: 83%;
				
						.values li:last-child label {
							margin-right: 0;
						}
				
						.link {
							margin-left: auto;
						}
				
					}
				
					.values ul {
				
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						list-style: none;
						padding: 0;
						margin: 0;
						margin-left: 6px;
				
						li {
							margin: 0;
							margin-left: 16px;
							padding: 0;
						}
						
						label {
							margin: 0 16px 0 4px;
							font-size: 17px;
							position: relative;
				
							&:before, &:after {
								@include pseudo;
								top: 2px;
								left: -26px;
								width: 20px;
								height: 20px;
								background: $white;
								border-radius: 9em;
								border: solid $mm-pink 1px;
							}
				
							&:after {
								top: 8px;
								left: -20px;
								width: 8px;
								height: 8px;
								background: $white;
								border: 0px;
								border-radius: 9em;
							}
						}
				
						input[type='radio'] {
							position: absolute !important;
							height: 1px;
							width: 1px;
							overflow: hidden;
							clip: rect(1px, 1px, 1px, 1px);
						}
				
						input[type='radio']:focus + label:before {
							border: darken($mm-pink, 10%) solid 1px;
							box-shadow: 0 0 2px 2px lighten($mm-pink, 10%), inset 0 0 2px lighten($mm-pink, 10%);
							outline: 3px solid transparent;
						}
				
						input[type='radio']:checked + label:before {
							box-shadow: 0;
							background: $mm-pink;
						}
						input[type='radio']:checked + label:after {
							box-shadow: 0 2px 2px darken($mm-pink, 20%);
						}
				
					}
				}
				

				.sub-menu {
					// @include centerer($horizontal: true, $vertical: false);
					display: block;
					top: 100%;
					min-width: 300px;
					padding: 24px;
					margin: 0;
					box-sizing: border-box;
	
					&:before {
						@include pseudo($display: block, $pos: relative, $content: 'In this section');
						border-bottom: 4px solid $mm-blue;
						font-size: 15px;
						padding: 0px 0px 10px 0;
						margin-bottom: 16px;
						font-weight: 500;
						line-height: 1.5em;
						
					}
	
					li {
						padding: 0;
						margin: 0;
	
						a {
							display: block;
							margin: 0;
							padding: 6px 0px;
							font-weight: 300;
							font-size: 18px;
	
							&:hover {
								color: darken($black, 50%);
								text-decoration: underline;
							}
						}
					}
				}
			}

			& > li:hover,
			& > li.active {
				& > a {
					background: $black;
					color: $white;
				}
			}

			& li.menu-item-has-children.showArrow,
			& li.menu-item-has-children.active {

				&::after{
					@include pseudo($display: block, $pos: absolute, $content: '');
					@include css-triangle($black, $direction: down, $size: 15px, $position: absolute, $round: false);
					@include centerer($horizontal: true, $vertical: false);
				}
			}

			& li.menu-item-has-children.active {
				.sub-menu-wrap {
					display: flex;
				}
			}

			.sub-menu-wrap:hover {
				display: flex;
			}

			// Focus styles
			a:focus {
			
				&+ .sub-menu-wrap {
					display: flex;
				}
			}	
		}
	}

	@include for-size(1086px) {

		&.menu-open {
			.main-navigation {
				display: block;
			}

			.menu-back-button {
				display: block;
				position: absolute;
		    top: 50px;
		    left: -100%;
		    padding: 10px;
		    color: #fff;
		  	text-decoration: none;
		  	font-weight: 700;
		  	background: $black;
		  	z-index: 10;

		  	opacity: 0;
		  	pointer-events: none;
		  	transition: all 0.3s ease;

		  	&.show {
		  		left: 10px;
		  		opacity: 1;
		  		pointer-events: auto;
		  	}
			}

			.hamburger {
				border-color: $white;

				.hamburger-lines,
				.hamburger-icon:after,
				.hamburger-lines:before,
				.hamburger-lines:after {
					background-color: $white;
				}

				&.active .hamburger-lines,
				&.active .hamburger-icon:after {
					background-color: transparent;
				}
    	}
		}

		.hamburger {
			display: flex;
		}

		.main-navigation {
			position: fixed;
	    top: 0;
	    display: none;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: $black;
	    overflow: scroll;
	    padding-bottom: 50px;

	    flex-direction: column-reverse;
	    justify-content: flex-end;
	    overflow-y: scroll;

	    &.open {
	    	display: flex;

	    	.hamburger {
	    		a {
	    			border-color: $white;

	    			svg path {
	    				fill: $white;
	    			}
	    		}
	    	}
	    }

	    ul { flex-direction: column; }

	    .top-nav-container {
		    position: fixed;
		    left: 0;
		    bottom: 0px;
				top: auto;
				flex-direction: column;
				align-items: flex-start;
		    justify-content: flex-start;
		    width: 100%;
		    padding: 20px;
		    box-sizing: border-box;
				background: $black;
				z-index: 10;

				.header-attention-button {
					margin: 0 0 24px;

					.button {
						background: $black;
						color: $white;
						border-color: $white;

						&:hover,
						&:focus {
							background: $white;
							color: $black;
							border-color: $black;
						}
					}
				}

		    li {
		    	margin: 0 15px 0 0;
		    	padding: 0;
		    }
	    }

	    .main-menu  {
  	    position: relative;
				padding: 0px;
				margin-top: 162px;
				margin-right: 0;

				@include for-size(phone-wide) {
					margin-top: 104px;
				}

		    li {
		    	display: block;
		    	padding: 0;

		    	a {
		    		position: relative;
		    		background: none;
		    		color: $white;
		    		padding: 15px 20px;
		    		font-size: 21px;

		    		&::after{
		    			@include pseudo($display: block, $pos: absolute, $content: '');
		    			top: 50%;
		    			right: 36px;
		    			transform: translateY(-50%);
		    			width: 24px;
		    			height: 24px;
		    			background-image: url(images/chevron.svg);

		    		}
		    	}

					&.menu-item-has-children:hover::after,
					.sub-menu-wrap .sub-menu:before,
					.feature, 
					.nav-consultation-finder {
		    		display: none;
		    	}

		    	&:hover {
		    		> a {
		    			background: rgba(0,0,0,0.1);
		    		}
		    	}
		    }

				.sub-menu-wrap,
				.sub-menu-wrap.has-finder,
				.sub-menu-wrap.has-featured {
		    	display: block;
		    	position: fixed;
			    top: 0;
			    bottom: 0;
			    left: auto;
					width: 100%;
			    padding: 0;
			    transform: translateX(100%);
			    background: $black;
			    transition: all 0.3s ease;
			    padding-top: 130px;
			    background: $black;
			    z-index: 2;
			    overflow: scroll;
					padding-bottom: 60px;

					@include for-size(phone-wide) {
						padding-top: 104px;
					}
					
					.sub-menu {
						padding: 0;
						flex: 1;
					}

			    &.open {
			    	transform: translateX(0);
			    }

			    &:before { display: none; }

			    li.menu-item {
			    	a {
			    		font-weight: 300;
							padding: 15px 55px 15px 20px;

							&:hover {
								color: $white;
							}

	    		    &:after {
	    		    	display: none;
	    		    }
			    	}
			    }
		    }
	    }
		}
	}
}