// // Quick hack for flow-flow

// .ff-stream {
//   background: transparent !important;
//   min-height: unset !important;
//   height: auto !important;
//   transition: unset !important;
// }

// .ff-loader,
// .ff-item-bar,
// .shuffle__sizer {
//   display: none !important;
// }

// .ff-stream-wrapper {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   height: auto !important;
//   flex-wrap: wrap;
//   @include container;
//   margin: 0 auto !important;
//   padding: 0 30px !important;
//   transition: unset !important;
// }

// .ff-item {
//   position: static !important;
//   overflow: hidden;
//   transform: unset !important;
//   transition: unset !important;
//   height: auto !important;
//   min-height: unset !important;
//   flex-basis: calc(25% - 10px);
//   margin-top: 20px;

//   @include for-size(tablet-wide) {
//     flex-basis: calc(50% - 10px);
//   }
  
//   @include for-size(phone-wide) {
//     flex-basis: calc(100% - 10px);
//   }

  
// }

// .ff-content {
//   position: absolute;
//   top: 0;
//   z-index: 999;
//   background: black;
//   margin: 0 !important;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 100%;
//   max-height: unset !important;
//   padding: 7%;
//   color: white;
//   transform: translateY(-100%);
//   transition: all .2s ease-in;
// }

// .ff-item .ff-img-holder img {
//   object-fit: cover;
//   height: 100%;
// }

// .ff-item .ff-img-holder,
// .ff-item-cont,
// .picture-item__inner {
//   height: 100%;
// }

// .ff-item:hover .ff-content {
//   transform: translateY(0);
// }

// .ff-loadmore-wrapper {
//   display: none;
// }

// .ff-instagram a {
//   color: white !important;
//   text-decoration: underline !important;
// }

// .instagram-container {

//   .tile {
//     position: relative;
//     overflow: hidden;
//   }

//   .title {
//     margin-bottom: 24px;
//   }

//   .description {
//     margin-bottom: 24px;
//   }

//   .image {
//     margin-bottom: 0 !important;
//   }

//   .content {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     font-size: 15px;
//     line-height: 1.2em;
//     background: #333;
//     color: white;
//     opacity: 0;
//     transform: translateY(-100%);
//     @include transition(0.3s);
//     margin-bottom: 0 !important;

//     .content-inner {
//       display: flex;
//       flex-direction: column;
//       margin: 24px;
//       overflow: hidden;
//     }

//     .ig-logo {
//       margin-bottom: 18px;
//     }

//     svg path {
//       fill: white;
//     }
//   }
//   .tile:hover,
//   .items a:focus {
//     .content {
//       opacity: 1;
//       transform: translateY(0%);
//     }
//   }
// }