.list {
	@include element_properties;

	.list-item {
    display: flex;
    flex-direction: row;
		padding: 10px 0;
		flex-wrap: wrap;

		.image {
			@include list_image;

			&.svg {
				background: none;
			}
			
			svg {
				width: 100%;
				height: 100%;
			}
		}

		.number {
	    	@include number();
		}

		.content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&.no-image {
				margin-left: 65px;
			}

			main {
			}

			header {
		    * { 
		    	line-height: 1.25em;
		    	font-weight: 500;
		    }
			}
		}

		.link {
			margin-left: 20px;

			@include for-size(phone-wide) {
				flex-basis: 100%;
				text-align: right;
				margin: 20px 0;
			}
		}
	}
}