.pathway {

	.pathway-container {
		margin-top: 30px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
			display: none;
		}
	}

	.pathway-row {
    display: flex;
    flex-direction: row;

    &:first-child {
    	.pathway-col:not(:first-child) {
    		position: relative;
			  background: $mm-blue;

			  &:after {
			  	@include pseudo($display: block, $pos: absolute);
		      @include css-triangle($mm-blue, $direction: right, $size: 10px, $position: absolute, $round: false);
		      @include centerer($horizontal: false, $vertical: true);
		      right: 0px;
			  }
			}
			.pathway-col {
				margin-top: 0;
			}
    }
	}

	.pathway-col {
	  flex: 1;
	  margin: 10px;
	  padding: 15px;

	  &:not(:first-child) {
		  background: rgba(0,0,0,0.05);
		  min-width: 130px;
		}
		
		&:first-child { 
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
			flex-basis: 96px;
    	flex-grow: unset;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	ul {
		// list-style: none;
		// margin: 0;

		li {
			margin: 10px 0;
			@include marginFix;
		}
	}

}