.tns-outer {
	position: relative;
}

.consultation-guide {
  .tns-controls {
    position: sticky;
    top: 424px;
    margin-left: 50%;
    height: 0;
    padding: 0;
  }
}

.tns-controls {
  position: absolute;
  display: flex;
  top: 190px;
  display: flex;
  left: 50%;
  width: 100%;
  padding: 20px;
  z-index: 2;
  justify-content: space-between;
  max-width: $container-full;
  transform: translateX(-50%) translateY(-25px);
  pointer-events: none;

  button {
    background: $white;
    border: 3px solid $black;
    width: 50px;
    height: 50px;
    outline: none;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    
    @include for-size(tablet-small) {
      width: 40px;
      height: 40px;
    }

  	svg path {
  		fill: $black;
  		@include transition;
  	}

    &:hover {
    	background: $black;
    	svg path { fill: $white; }
    }

    &[disabled] {
    	opacity: 0;
    	pointer-events: none;
    }
	}
}