.tiles {
	padding-bottom: $section-spacing / 2;

	.title {
		margin-bottom: 32px;
	}

	.items {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;

		> .tile,
		> a {
			width: (100% / 4);
			display: flex;
			flex-direction: column;
			border: 0 solid transparent;
			border-width: 0 20px 20px 0;
			
			@include for-size(tablet-wide) {
				width: (100% / 2);
			}

			@include for-size(phone-wide) {
				width: (100% / 1);
			}

			.image {
				height: 169px;
				background-color: darken($lightgrey, 3%);
				background-size: cover;
				background-position: center;
				margin-bottom: 20px;
				flex-shrink: 0;

				&.svg {
					display: flex;
					align-items: center;
					justify-content: center;
			
					svg {
						height: 80%;
						width: auto;
					}
				}
			}

			.number {
				@include number();
				margin: auto;
				max-width: 120px;
				max-height: 120px;
				width: 50vw;
				height: 50vw;
				font-size: 56px;
				font-weight: 700;
				margin-bottom: 18px;
			}

			.content {
				flex: 1 0 auto;
				margin-bottom: 20px;
			}

			.link {
				text-align: center;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				min-height: 100px;
				flex-shrink: 0;

				a {
					width: 100%;
				}
			}
		}
	}

	&[data-items="2"] {
		.tile { 
			width: (100% / 2);

			.image {
				height: 130px;
			}
		}
	}

	&[data-items="3"] {
		.tile { 
			width: (100% / 3);

			.image {
				height: 130px;
			}
		}
	}

	&[data-items="5"] {
		.tile { 
			width: (100% / 5);

			.image {
				height: 130px;
			}
		}
	}

	&[data-items="6"] {
		.tile { 
			width: (100% / 6);

			.image {
				height: 106px;
			}
		}
	}	

	@include for-size(tablet-wide) {
		&[data-items="5"],
		&[data-items="6"] {
			.tile {
				width: (100% / 3);
			}
		}
	}

	@include for-size(phablet) {
		&[data-items="3"],
		&[data-items="4"],
		&[data-items="5"],
		&[data-items="6"] {
			.tile { 
				width: (100% / 2);
			}
		}
	}

	@include for-size(phone) {
		&[data-items="3"],
		&[data-items="4"],
		&[data-items="5"],
		&[data-items="6"] {
			.tile {
				width: (100% / 1);
			}

			// padding: 15px;
			.image {
				width: 100% !important;
				padding-bottom: 100%;

				@include for-size(phone) {
					padding-bottom: 0;
				}

				margin: 0 auto 18px;
			}
			.content {
				text-align: center;

				h6 { font-size: 20px; }
				p {
					font-size: 17px;
					line-height: 1.3em;
				}
			}
			.link {
				text-align: center;
			}
		}
	}
}