section.video-section {

  overflow: hidden;

  .inner.container {
    position: relative;
  }

  .mm-video {
    position: relative;
  }

  .image {
    @include fill-parent;
    cursor: pointer;

    &:focus + .content,
    &:hover + .content {
      background: $black;

      h1, h2, h3, h4, h5, h6, p { 
        color: $white; 
      }

      .play {
        background: rgba($white, 0.1);
      }

      svg path {
        fill: $white;
      }
    }

    &:focus + .content:after,
    &:hover + .content:after {
      right: 0px;
      @include css-triangle($black, right, 10px);
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 36px 28px;
    padding: 16px 32px;
    background: $white;
    z-index: 2;
    pointer-events: none;
    @include transition;

    @include for-size(tablet-small) {
      right: 0;
      margin: 0;
      top: 50%;
      bottom: unset;
      transform: translateY(-50%);
    }

    &:after {
      @include transition;
      @include css-triangle($white, right, 10px);
      @include centerer($horizontal: false, $vertical: true);
      right: 30px;
      z-index: 1;
    }

    .play {
      width: 28px;
      height: 28px;
      padding: 6px;
      background: rgba($black, 0.1);
      margin-right: 12px;
      @include transition;

      @include for-size(tablet-small) {
        // width: 56px;
        // height: 56px;
        // margin-top: -36px;
      }

      &.no-title {
        margin-top: 0;
      }

      svg {
        width: auto;
        height: 100%;
        margin-left: 20%;

        path {
          fill: $black;
          @include transition;
        }
      }
    }

    h1, h2, h3, h4, h5, h6, p { 
      @include transition;
      color: $black; 
    }

    

    h4 {

      font-size: 20px;
      font-weight: 500;

      @include for-size(tablet-small) {
        font-size: 14px;
      }
    }
  }
}