#main-header .container {
  &:before,
  &:after {
    content: none;
  }
}

.woocommerce button.single_add_to_cart_button.button.alt {
  margin-top: 1.6em;
}

// Products

.wdm-course-grid,
.wdm-course-grid > a,
.wdm-col-3-2-1.hentry {
  height: auto !important;
  min-height: initial !important;
  max-height: initial !important;
}

// Containers

.woocommerce-page article,
.single-eb_course article,
.woocommerce-order-received .container .text,
.woocommerce-js .container .text {
  margin: 50px auto;
  width: 100%;
  @include container();
}

.woocommerce-cart .s2_flex-strip.text.spacing-both,
.woocommerce-checkout .s2_flex-strip.text.spacing-both {
  padding-top: 0px;
}

.product-page {
  padding-top: 40px;
}

.single-product:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 1200px) {
  .woocommerce .content {
    max-width: 100% !important;
    min-width: 100%;
  }
}

// Text

.woocommerce form .form-row label {
  font-size: 17px;
}

.s2_flex-strip .wdm-caption h4 {
  font-size: 20px;
  margin-bottom: 0;
  padding: 0;
}

h1.page-title {
  padding: 0;
}

.wdm-caption .entry-content {
  font-size: 14px;
  margin-bottom: 0;
}

.wdm-price.paid {
  display: none;
}

.eb-cat-wrapper {
  a {
    color: $mm-green;
    background: none;
    padding: 2px 10px;
    border-radius: 99em;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid $mm-green;
    margin: 0 8px 0 4px;

    &:hover {
      background: $mm-green;
      color: $white;
    }
  }
}

th {
  font-weight: 700;
}

tr, 
// .wcppec-checkout-buttons__separator {
//     @extend .p;
// }

// .eb-course-summary span {
//     @extend .filson-pro-book;
// }

.product-name {
  div {
    display: inline;
    white-space: nowrap;

    .wdm-bulk-purchase-message {
      background: $mm-blue;
      font-weight: 700;
      text-transform: uppercase;
      padding: .5em 1em;
      border-radius: 9em;
    }
  }
}

li.select2-results__option {
  margin: 0;
}

.product_meta {
  // @extend p;

  > span {
    display: block;
  }

  span {
    font-size: 18px;
  }
}

.woocommerce-additional-fields h3 {
  display: none;
}

// Buttons

.eb_join_button {
  display: flex;
}

.woocommerce button.single_add_to_cart_button.button,
.woocommerce a.button.alt.wc-forward,
.eb-primary .wdm-btn,
.ac-log-in,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .woocommerce-info a,
.woocommerce .woocommerce-message a {
  @include button;

  &.alt {
    background-color: $white;
    color: $black;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.ac-log-in {
  position: absolute;
  width: 116px;
  right: 0;
  top: -7px;
  padding: 7px;
  text-align: center;
}

.woocommerce button.single_add_to_cart_button.button.alt {
  width: 100%;
}

// Images

.woocommerce div.product div.images.woocommerce-product-gallery {
  opacity: 100 !important;
}

.woocommerce-cart table.cart .product-thumbnail img {
  width: 100px;
}

.wdm-course-grid,
.wdm-course-grid > a {
  max-height: 100%;
}

// Info

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
  content: "" !important;
}

.woocommerce-notices-wrapper .woocommerce-error {
  box-sizing: border-box;
  border-radius: 0;
  border-top: 0px;
  border-bottom: 4px solid $mm-blue;
  margin: 0 0 2em;
  padding: 15px 20px;
  color: $black;
  background: transparent;
  width: 100%;

  li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    background: $white;
    border: 1px solid $black;
    border-radius: 0;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  li {
    margin-bottom: 0;
  }
}

.woocommerce table.shop_table {
  border: none;
  border-left: 1px solid $lightgrey;
  border-right: 1px solid $lightgrey;
  margin: 30px 0;
  border-collapse: collapse;
  border-radius: 0;

  th {
    font-weight: 700;
    padding: 15px;
    line-height: 1.3em;
  }

  td {
    border-top: none;
    padding: 15px;
    vertical-align: middle;
    line-height: 1.3em;
  }

  td,
  th {
    border-color: $lightgrey;
    border-left: 0;
    border-right: 0;
  }
}

.woocommerce .cart-collaterals .cart_totals {
  width: auto;

  h2 {
    font-size: 22px;
  }

  table.shop_table {
    border-collapse: collapse;
    border-top: 1px solid $lightgrey;
  }

  th {
    background: none;
  }
}

.woocommerce fieldset,
.eb-user-profile fieldset {
  background: #fdfdfd;
  padding: 30px;
  margin: 20px 0;
  box-shadow: inset 0px 2px 4px 0px #f0f0f0;

  legend {
    background: #fbfbfb;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
  }
}

.eb-profile-row-block {
  display: flex;
}

.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  box-sizing: border-box;
  border-top: 0px;
  font-size: 17px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: $black;
  padding: 20px 0px;
  background: transparent;
  border-bottom: 4px solid $mm-green;
  // display: flex;
  // align-items: center;

  a {
    margin-left: auto;
    white-space: nowrap;
  }
}

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info {
  // flex-direction: row-reverse;
  a {
    float: right;
  }
}

.woocommerce form .form-row label {
  line-height: 1.4em;
}

.woocommerce-input-wrapper {
  .input-text[name='order_comments'] {
    height: 100px !important;
  }
}

.woocommerce-thankyou-order-received {
  margin: 60px 0 30px;
}

.wdm_edwiser_bulk_purchase {

  float: left;
  margin-right: 16px;
  margin-top: 16px;

  #wdm_edwiser_self_enroll {
    vertical-align: middle;
    margin: 0;
  }
}

.woocommerce div.product form.cart div.quantity {
  margin-top: 20px;
}

.wdm-bulk-purchase-message {
  background: $mm-blue;
}

// Forms

.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 50%;
}

.eb-wrap-login-form {
  padding: 30px;

  p {
    margin: 0;
  }
}

.eb-user-profile .eb-profile-row-block {
  display: flex;
}

.woocommerce form .form-row input.input-text:focus, 
.woocommerce form .form-row textarea:focus,
.woocommerce form .form-row select:focus,
.woocommerce form .form-row .select2-selection:focus {
  box-shadow: 0 0 2px 2px lighten($mm-green, 10%), inset 0 0 2px lighten($mm-green, 10%);
  outline: 3px solid transparent;
}

table.cart td.actions .coupon .input-text,
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text,
.eb-wrap-login-form form .form-row .input-text,
.eb-user-profile .text-input {
  background: #f9f9f9;
  width: 100%;
  height: 38px;
  border: 1px solid #efefef;
  padding: 10px 12px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  margin: 10px 0 15px;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea {

}

// .form-row {
//     display: flex;
//     flex-direction: row-reverse;
// }

// Tabs

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs {
  padding: 0;
  float: left;
  width: 200px;

  li {
    background-color: #00ce7c;
    border: 0;

    a {
      color: white;
    }
  }
}

.woocommerce div.product .woocommerce-tabs .panel.wc-tab {
  margin: 0 0 2em 200px;
  padding: 0 0 2em 3em;
}

.woocommerce-cart .text {
  width: 100%;
}

// General

.woocommerce-order li {
  width: auto !important;
}

.woocommerce-customer-details address {
  display: none;
}

.nocomments {
  display: none;
}

.s2_flex-strip .woocommerce-MyAccount-navigation ul {
  list-style: none;

  li {
    margin: 1px 20px 0 0;
    padding: 0px;
    background: #e9e9e9;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

.eb-user-account-navigation {
  width: auto;
}

.eb-user-account-navigation nav.eb-user-account-navigation-link {
  margin: 1px 20px 0 0;
  padding: 0;
  width: auto;
  // background: $mm-blue;
  font-family: $font;
  box-sizing: border-box;
  border: 0;

  &.eb-active-profile-nav a {
    background: $mm-blue;
    color: white;
  }

  a {
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: $grey;
    background: $lightgrey;

    &:hover {
      background: $mm-blue;
      color: white;
    }
  }
}

.eb-user-account-content {
  font-family: $font;
}
