::selection {
  background: rgba($mm-green, 0.9);
  color: $white;

  body.consultation-guide & {
    background: rgba($mm-yellow, 0.9);
    color: $black;
  }

  body.active-hospitals & {
    background: rgba($ah-purple, 0.9);
  }
}

*:focus {
  body.user-is-tabbing & {
    box-shadow: 0 0 2px 2px lighten($mm-green, 2%),
      inset 0 0 2px lighten($mm-green, 2%);
    outline: 3px solid transparent;
  }

  .user-is-tabbing.consultation-guide & {
    // border: darken($mm-yellow, 1%) solid 1px;
    box-shadow: 0 0 2px 2px lighten($mm-yellow, 2%),
      inset 0 0 2px lighten($mm-yellow, 2%);
  }

  .user-is-tabbing.active-hospitals & {
    // border: darken($ah-purple, 1%) solid 1px;
    box-shadow: 0 0 2px 2px lighten($ah-purple, 2%),
      inset 0 0 2px lighten($ah-purple, 2%);
  }
}


body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  background: $white;

  &.scroll-lock {
    overflow: hidden;
  }
}

.container,
.mm-group_inner,
.wp-block-group.has-background .wp-block-group__inner-container,
// Used on activation pages
.widecolumn,
.wp-activate-container {
  @include container;
  &.thin {
    max-width: $container-tablet-portrait;
    margin-left: 0;
    // padding-left: 0;
  }
}

.widecolumn {
  margin-top: 56px;
  margin-bottom: 64px;
}

.wp-activate-container {
  max-width: $container-tablet-portrait;
  margin-left: 0;
}

.wp-block-group.has-background .wp-block-group__inner-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  blockquote,
  code,
  pre {
    max-width: $container-tablet-portrait;
    margin-left: 0;
  }
}

.container.full > .container.thin {
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 30px 0;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  td,
  th {
    text-align: left;
    border: 1px solid $black;
    padding: 16px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
  }

  th {
    background: $lightgrey;
    font-weight: bold;
  }
}

.single .outer,
.page .outer {
  background: white;
  padding: $section-spacing 0;
}

// Tools and elements

.cg-tool,
.finder,
.element {
  li.tool-item {
    font-size: 22px;

    a.tool-link {
      padding: 22px 24px;
    }
  }

  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
  }
}

.circular {
  border-radius: 9em;
}

.mm-video iframe {
  @include fill-parent;
}

.mm-video:before {
  @include pseudo($pos: static);
  padding-top: 56.25%;
}

.wp-block-image figure {
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.full-width,
.wp-block-group.has-background,
.ff-stream {
  width: 100vw;
  position: relative;
  margin-left: calc(
    -100vw / 2 + (#{$container-full} - #{$container-padding * 4}) / 2
  );

  @include for-size($container-full) {
    margin-left: calc(-100vw / 2 + (100vw - #{$container-padding * 4}) / 2);
  }

  @include for-size(tablet) {
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .container.full > .container.thin & {
    margin-left: calc(
      -100vw / 2 + (#{$container-full} - #{$container-padding * 2}) / 2
    );

    @include for-size(tablet) {
      .mm-video {
        width: 150vw;
        margin-left: calc(-150vw / 2 + (150vw - #{$container-padding * 2}) / 2);

        @include for-size(phablet) {
          width: 200vw;
          margin-left: calc(
            -200vw / 2 + (200vw - #{$container-padding * 2}) / 2
          );

          @include for-size(phone-wide) {
            width: 250vw;
            margin-left: calc(
              -250vw / 2 + (250vw - #{$container-padding * 2}) / 2
            );
          }
        }
      }
    }

    @include for-size($container-full) {
      margin-left: calc(-100vw / 2 + (100vw - #{$container-padding * 2}) / 2);
    }

    @include for-size(tablet) {
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}

.thin.center,
.mm-group_inner.intro-group_inner.thin,
.mm-group_inner.insight-group_inner.thin {
  margin: auto;
}

.thin.center {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.consultation-guide {
  .thin {
    padding-left: 50px;
    padding-right: 50px;

    @include for-size(tablet-small) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.image {
  animation: none;
}

i.evidence-marker {
  cursor:pointer;
}

a {
  &:link i,
  &:visited i,
  &:hover i,
  &:active i {
    color: $black;
  }
}
