// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( blue, $mm_blue ),
	( green, $mm_green ),
	( yellow, $mm_yellow ),
	( pink, $mm_pink ),
	( ah_blue, $ah_blue ),
	( ah_purple, $ah_purple ),
	( black, $black ),
	( white, $white ),
  ( grey, $grey ),
  ( lightgrey, $lightgrey );


/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{"" + $name}-color {
		color: $color;
	}

	.has-#{"" + $name}-background-color {
		background-color: $color;
	}
}