@mixin for-size($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      // @if $type == max {
      //     $width: $width - 1px;
      // }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
  @else if type_of($width) == "number" {
    // @if $type == max {
    //   $width: $width - 1px;
    // }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
  }
}

@mixin hamburger-anchor($color: $black, $background: transparent) {
  display: flex;
  width: 40px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border: 1px solid $color;
  background: $background;
  padding-bottom: 3px;
}

@mixin hamburger-line($color) {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: $color;
}

@mixin hamburger-css($color: $black, $background: transparent, $border-width: 2px) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 34px;
  cursor: pointer;
  border: $border-width solid $color;
  background: $background;
  
  .hamburger-icon {
    position: relative;
    display: block;
    height: 22px;
    width: 22px;
    opacity: 1;
    transition: opacity .3s ease-in-out;

    .hamburger-lines,
    &:after {
      @include hamburger-line($color);
    }
  }

  .hamburger-lines {
    left: 0;
    text-indent: -4000px;
    font-size: 0;
    top: calc(36% + 2px);
    transition: right .3s ease-in-out;
    width: 100%;
    // overflow: hidden;

    &:before,
    &:after {
      @include hamburger-line($color);
      position: absolute;
      transition: all .3s ease-in-out;
      width: 100%;
      z-index: 10;
    }

    &:before {
      top: -6px;

      
    }

    &:after {
      top: 6px;

      .active & {
        transform: rotate(-45deg);
      }
    }
  }

  &.active .hamburger-lines,
  &.active .hamburger-icon:after {
    background: transparent;
  }

  &.active .hamburger-lines:before,
  &.active .hamburger-lines:after {
    top: 0;
  }

  &.active .hamburger-lines:before {
    transform: rotate(45deg);
  }

  &.active .hamburger-lines:after {
    transform: rotate(-45deg);
  }
}

@mixin image_bg($size: cover) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center center; 
}

@mixin number() {
  background: $mm-green;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  margin-right: 20px;

  body.active-hospitals & {
    background: $ah-purple;
  }

  body.consultation-guide & {
    background: $mm-pink;
  }
}

@mixin list_image() {
  width: $image-small;
  height: $image-small;
  background: $grey;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  &.round { border-radius: 50%; }
}

@mixin grid($size: $container-full) {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: $size;

  @include for-size(phablet) {
    padding: 0 20px;
  }
}

@mixin container($size: $container-full) {
  @include grid($size);
  box-sizing: border-box;
  @include transition;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin transition($duration: 0.6s) {
  transition: all $duration cubic-bezier(0.22, 1, 0.36, 1);
}

@mixin marginFix($vertical: true, $horizontal: false) {
  @if $vertical == true {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
  @if $horizontal == true {
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;

  @if $round {
    border-radius: 3px;
  }

  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin fill-parent() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@mixin hardware($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
}

@mixin slide-background-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  background-color: mix($end, $start, (100/$divisor * $step));
}

@mixin section-right-arrow-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  border-left-color: mix($end, $start, (100/$divisor * $step))
}

@mixin slide-top-arrow-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  border-bottom-color: mix($end, $start, (100/$divisor * $step))
}

@mixin slide-bottom-arrow-triangle-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  border-top-color: mix($end, $start, (100/$divisor * $step))
}

@mixin slide-text-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  color: mix($end, $start, (100/$divisor * $step))
}

@mixin slide-icon-fill-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  fill: mix($end, $start, (100/$divisor * $step))
}

@mixin slide-icon-stroke-color($slides, $step, $start: $cg-start, $end: $cg-end) {
  $divisor: $slides - 1;
  stroke: mix($end, $start, (100/$divisor * $step))
}

@mixin element_properties() {
  padding-bottom: $section-spacing;

  .title {
    margin-bottom: 10px;
  }
}

@mixin button($bgcolor: $white, $textcolor: $black, $bghover: $black, $texthover: $white){
	display: inline-block;
	padding: 10px 15px;
  border: 1px solid $textcolor;
  border-radius: 0;
	color: $textcolor;
	background: $bgcolor;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-decoration: none;
	@include transition;

	&:hover {
		background: $bghover;
		color: $texthover;
	}

	@include for-size(phone-wide) {
		padding: 15px 25px;
	}
}