h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: $black;
  margin: 15px 0;

  @include marginFix;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 48px;
  font-weight: 700;

  @include for-size(tablet) {
    font-size: 38px;
  }

  @include for-size(tablet-small) {
    font-size: 32px;
    line-height: 1.2em;
  }
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 25px;
  font-weight: 700;
}
h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45em;
}
h5 {
  font-size: 22px;
  font-weight: 300;
}

.consultation-guide h5 {
  font-weight: 500;
}

h6 {
  font-size: 18px;
}

p,
ul,
ol,
label {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
}

ul,
ol {
  list-style-type: disc;
  list-style-position: outside;
  margin: 1em 0px 1em 1.1em;

  li {
    margin: .3em 0;
  }
}

ol {
  list-style-type: decimal;
}

blockquote {
  border-top: 3px solid $mm-blue;
  border-bottom: 3px solid $mm-blue;
  padding: 24px 0;
  margin: #{$section-spacing * 1.5} 0;

  p {
    font-size: 24px;
    line-height: 1.3em;
    color: $black;
    font-weight: 700;

    @include for-size(tablet-small) {
      font-size: 20px;
    }
    
  }

  strong {
    font-weight: 700;
  }

  &.wp-block-quote.is-style-large {
    padding: #{$section-spacing / 1.5} 0;
    margin: $section-spacing 0;

    p {
      font-size: 28px;
      font-style: normal;
      line-height: 1.4em;

      strong {
        font-weight: 700;
      }
    }
  }

  body.active-hospitals & {
    border-color: $ah-blue;
  }

  body.consultation-guide & {
    border-color: $mm-pink;
  }

  cite {
    font-size: 18px;
  }
}

a:link {
  color: darken($mm-green, 10%);
  text-decoration: none;

  .consultation-guide & {
    color: darken($mm-pink, 10%);
  }

  .active-hospitals & {
    color: darken($ah-blue, 10%);
  }
}

a:visited {
  color: darken($mm-green, 10%);

  .consultation-guide & {
    color: darken($mm-pink, 10%);
  }

  .active-hospitals & {
    color: darken($ah-blue, 10%);
  }
}

a:hover {
  color: darken($mm-green, 0%);
  text-decoration: underline;

  .consultation-guide & {
    color: darken($mm-pink, 0%);
  }

  .active-hospitals & {
    color: darken($ah-blue, 0%);
  }
}

a:active {
  color: $mm-green;

  .consultation-guide & {
    color: $mm-pink;
  }

  .active-hospitals & {
    color: $ah-blue;
  }
}

strong {
  font-weight: 500;
}
