// Base
$black: #333;
$white: #FFF;
$grey: #989898;
$lightgrey: #f2efef;

// Consultation guide colors
$cg-start: #ffc200;
$cg-end: #ff5c7e;

$mm-yellow: $cg-start;
$mm-pink: $cg-end;
$mm-blue: #00bfd7;
$mm-green: #72d44a;

$ah-blue: #6acbe0;
$ah-purple: #6858e9;

// Image sizes
$image-small: 45px;
$image-medium: 150px;

// Fonts
$font: 'filson-pro', sans-serif;
$young-person-font: 'gooddog-new', sans-serif;
$child-font: 'Schoolbell', sans-serif;


// Measurements
$container-full: 1170px;
$container-tablet-landscape: 920px;
$container-tablet-portrait: 768px;
$container-mobile: 650px;

// Responsive
$breakpoints: (
	"phone":        400px,
	"phone-wide":   480px,
	"phablet":      560px,
	"tablet-small": 640px,
	"tablet":       768px,
	"tablet-wide":  1024px,
	"desktop":      1248px,
	"desktop-wide": 1440px
);

// Consultation Guides
$one-min-total: 3;
$five-min-total: 11;
$more-min-total: 18;

// Sizes
$header-height: 128px;
$section-spacing: 48px;
$container-padding: 30px;