.activity-calculator {
  position: relative;
  
  .intro-text p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .question {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px;
    
    p {
      margin: 0 48px 0 0;
    }

  }

  input.single {
    width: 48px;
    height: 48px;
    background: $white;
    border: 1px solid $black;
    text-align: center;
    font-size: 20px;
    font-family: $font;
  }

  .get-retsults-container {
    margin-top: 34px;
    padding-bottom: 8px;
    text-align: right;
  }

  button.get-results, button.restart-activity {
    background-color: $white;
    color: $black;
    padding: 12px 24px;
    line-height: 1;
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $black;
    cursor: pointer;

    &:hover {
      background-color: $black;
      color: $white;
    }
	}
	
	.restart-container {
		margin-top: 32px;
		margin-bottom: 8px;
	}

	.secret {
		display: none;
	}

	.results-text {
		display: none;
	}
}