/* Width of "full-wide" blocks */
.wp-block {
  max-width: 768px;
  // font-family:  'Poppins', sans-serif;
}

.block-editor-block-list__layout
  .block-editor-block-list__block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}

// resetting base tags
h1,
h2,
h3 {
  margin: 0;
}

h4,
h5,
h6,
p {
  margin: 1em 0;
}

img[alt="icon"] {
  margin-top: -28px;
}

.wp-block[data-type="mm/cg-intro-group"] {
  margin-bottom: 88px;
}

.wp-block[data-type="mm/cg-insight-group"] {
  margin-top: 24px;
}

.wp-block[data-type="core/freeform"] {
  margin-left: 148px;
}

.circular {
  border-radius: 9em;
}

.mm-video iframe {
  @include fill-parent;
}

.mm-video:before {
  @include pseudo($pos: static);
  padding-top: 56.25%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

// .full-width {
//   width: 80vw;
//   position: relative;
//   left: 40%;
//   right: 40%;
//   margin-left: -40vw;
//   margin-right: -40vw;
// }

.section {
	&.white {
		background-color: $white;
	}
	
	&.grey {
		background-color: $lightgrey;
	}
}

.wp-block-pullquote {
  border: none;
  border-top: 3px solid $mm-blue;
  border-bottom: 3px solid $mm-blue;
}

blockquote.wp-block-quote {
  border: none;
  border-top: 3px solid $mm-blue;
  border-bottom: 3px solid $mm-blue;
  padding: 24px 0;
  margin: $section-spacing 0;

  p {
    font-size: 24px;
    line-height: 1.3em;
    color: $black;
  }

  strong {
    font-weight: 700;
  }

  &.wp-block-quote.is-style-large {
    padding: #{$section-spacing / 1.5} 0;
    margin: $section-spacing 0;

    p {
      font-size: 28px;
      font-style: normal;
      line-height: 1.4em;

      strong {
        font-weight: 700;
      }
    }
  }

  body.active-hospitals & {
    border-color: $ah-blue;
  }

  body.consultation-guide & {
    border-color: $mm-pink;
  }

  cite {
    font-size: 18px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 30px 0;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  td,
  th {
    text-align: left;
    border: 1px solid $black;
    padding: 16px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
  }

  th {
    background: $lightgrey;
    font-weight: bold;
  }
}