section.billboard-section {
  position: relative;

  .share {
    position: absolute;
    padding: 20px 30px;
    max-width: 1170px;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
    bottom: 0;

    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    flex: .3;
  
    div svg path {
      fill: $white;
    }
  
    .logos {
      overflow: hidden;
      margin-left: 15px;
      .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $black;
        border-radius: 50%;
        margin: 0px 7px;
        width: 50px;
        height: 50px;
        float: left;
        @include marginFix($horizontal: true);
        @include transition;
  
        svg {
          width: 55%;
          height: auto;
  
          path {
            fill: $white;
            @include transition;
          }
        }
  
        &:hover,
        &:focus {
          background: $white;
          svg path { fill: $mm-green; 
  
            body.active-hospitals & {
              fill: $ah-purple; 
            }
  
            body.consultation-guide & {
              fill: $mm-pink; 
            }
          
          }
        }
      }
    }
  }

  &.no-video {
    min-height: calc( 100vh - 40px );
  }

  .image {
    @include fill-parent;
  }

  .cover-video{
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: 1;
  }

  video {
    @include centerer($horizontal: true, $vertical: true);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    @include centerer;
    background: #333;
    max-width: 500px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    
    h1, h2, h3, h4, h5, h6, p { color: #fff; }
    
    &:after {
      @include pseudo($display: block, $pos: absolute);
      @include css-triangle($black, $direction: down, $size: 35px, $position: absolute, $round: false);
      @include centerer($horizontal: true, $vertical: false);
      top: 100%;
    }
  }
}