
.accordion {
  @include element_properties;
  margin: 22px 0;

	.accordion-item {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    border-bottom: 2px solid $black;

		.image {
			@include list_image;
			
		}

		.content {
			flex: 1;

			main {
				display: none;
				padding-top: 8px;
			}

			header {
		    display: flex;
		    align-items: center;
				min-height: $image-small;

		    * { 
		    	line-height: 1.25em;
		    	font-weight: 500;
		    }
			}
		}

		.expander {
	    display: flex;
	    align-items: flex-start;
	    margin-left: 20px;
	    @include transition;

			a {
		    display: flex;
		    width: $image-small;
		    height: $image-small;
		    border: 2px solid $black;
		    justify-content: center;
		    align-items: center;
		    perspective: 1000px;
		    @include transition;

		    svg { @include transition;
		    	path { @include transition; }
		    }

		    &:hover {
		    	background: $black;
		    	svg path { fill: $white; }
		    }
		  }
		}

		&.open {
			.expander {
				a {
					background: $black;
					svg {
						transform: rotateX(180deg);
						path { fill: $white; }
					}
				}
			}
		}
	}
}