.section.cycles-tool {
  padding-bottom: 0;
}

.cycles-container {
  margin-top: 30px;
}

.cycles-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .cycles-col:first-child p {
    font-weight: 500;
  }

  &.nested {
    margin-left: -16px;

    .cycles-col {
      margin-bottom: 22px;
    }
  }

  .cycles-col:not(:first-child) {
    position: relative;
    padding: 0;
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 16px 24px;
      background: $lightgrey;
      color: $black;
      font-size: 21px;
      text-decoration: none;
      font-weight: 300;
      

      &.active {
        position: relative;
        background: $black;
        font-weight: 500;
        color: $white;

        &:after {
          @include css-triangle($black, $direction: down, $size: 24px, $position: absolute, $round: false);
          @include centerer($horizontal: true, $vertical: false);
          top: 100%;
        }
      }
    }
  }

  .cycles-col {
    flex: 1;
    margin: 16px auto 16px 16px;
  }
  
  &:not(.nested) > .cycles-col {
  
    &:first-child { 
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      flex-grow: 0;
      flex-basis: 16%;
    }
    
    &.steps {
      background: none;
    }
  }
  
  ul {
    list-style: none;
    margin: 0;
    display: none;
  
    &.active {
      display: block;
    }
  
    li {
      margin: 10px 0;
      @include marginFix;
      text-align: center;
      
      &.step {
        position: relative;
        padding: 22px 24px;
        margin-bottom: 24px;
        background: $lightgrey;
        font-weight: 500;
  
        &:not(:last-child):after {
          @include css-triangle($lightgrey, $direction: down, $size: 24px, $position: absolute, $round: false);
          @include centerer($horizontal: true, $vertical: false);
          top: 100%;
        }
      }
    }
  }
}


