section.content-section.decision-tool {
	padding: 0;
}

.decision-inner {
	display: flex;
	flex-direction: row;

	.decision-not-ready {
		.triangle-for-tools:after {
			margin-left: -24px;
		}
	}

	.decision-ready {
		.triangle-for-tools:after {
			margin-left: 24px;
		}
	}

	.decision-spacer {
		padding: 36px 24px;
	} 

}