.instagram-container {

  .tile {
    position: relative;
    overflow: hidden;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    line-height: 1.2em;
    background: #333;
    color: white;
    opacity: 0;
    transform: translateY(-100%);
    @include transition(0.3s);

    .content-inner {
      display: flex;
      flex-direction: column;
      margin: 24px;
      overflow: hidden;
    }

    .ig-logo {
      margin-bottom: 20px;
    }

    svg path {
      fill: white;
    }
  }
  .tile:hover {
    .content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}