.list {
  @include element_properties;
  
  h6 {
    font-size: 18px;
    font-weight: 500;
  }

	.list-item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;

		.image {
			@include list_image;
			
			&.svg {
				background: none;
			}
			
			svg {
				width: 100%;
				height: 100%;
			}
		}

		.number {
	    	background: $ah-purple;
	    	width: 45px;
	    	height: 45px;
	    	line-height: 45px;
	    	border-radius: 50%;
	    	display: flex;
	    	justify-content: center;
	    	align-items: center;
	    	color: #fff;
	    	font-weight: 500;
	    	margin-right: 20px;
		}

		.content {
			flex: 1;
			display: flex;
		   flex-direction: column;
		   justify-content: center;

			main {
			}

			header {
		    * { 
		    	line-height: 1.25em;
		    	font-weight: 500;
		    }
			}
		}

		.link {
			margin-left: 20px;
		}
	}
}