.quiz {
  h4 {
    margin-bottom: 48px;
    border-bottom: solid;
    padding-bottom: 12px;
  }

  .question,
  .outro {
    display: none;
  }

  .question-inner {
    display: flex;

    .image.svg {
      margin-right: 24px;

      svg {
        width: 120px;
      }
    }

    .content p {
      font-size: 28px;
      font-weight: 500;
    }

    .answer {
      display: none;
    }
  }

  .tns-controls {
		position: absolute;
    top: 50%;
    width: 140%;
    transform: translate(-50%, -50%);

    @include for-size(tablet) {
      width: 100vw;
	    padding: 0;

	    button:first-child { border-left: none; }
	    button:last-child { border-right: none; }
	  }
	}
}
