section.quote-section {
	padding: 50px 0;

	.quotes {
		.quote:nth-child(n+2) {
			display: none;
		}
		.quote {
	    text-align: center;
	    padding: 0px 8px;

	    .image {
	    	background: $grey;
  	    width: $image-medium;
				height: $image-medium;
				background-size: cover;
				background-position: center;
				margin: 0px auto 20px;
	    }

	    .content {
	    	margin: auto;

	    	p {
					font-size: 26px;
	    		line-height: 1.3em;
	    		font-weight: 700;
				}
				
				.name {
					font-weight: 300;
					margin-top: 1.1em;
				}
	    }
		}

		@include for-size(tablet) {
			.quote {
				padding: 0px 50px;

					.content p { 
						font-size: 22px; 
					}
			}
		}
	}

	.tns-controls {
		position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include for-size(tablet) {
      width: 100vw;
	    padding: 0;

	    button:first-child { border-left: none; }
	    button:last-child { border-right: none; }
	  }
	}
}