.resources-items {
  display: flex;
  flex-direction: row;
  margin: 16px -16px;
  flex-wrap: wrap;

  .resources-item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
}

.link-row {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  
  .link {
    margin-right: 16px;
  }
}

section.modal {
  display: none;
}