.table {
  margin-bottom: 20px;

  & > .title {
    margin-bottom: 16px;
  }

  .table-container {
    display: flex;
    margin-top: 20px;

    @include for-size(phone-wide) {
      flex-direction: column;
    }
  }

  .table-categories {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 160px;
    margin: 0 40px 0 0;
    list-style: none;
    
    li {
      margin: 15px 0;

      @include marginFix;

      & > a {
        position: relative;
        display: block;
        background: rgba(0,0,0,0.05);
        padding: 15px;
        color: $black;
        text-decoration: none;

        &:after {
          @include css-triangle($black, $direction: right, $size: 10px, $position: absolute, $round: false);
          @include centerer($horizontal: false, $vertical: true);
          right: 0;
          display: none;
        }

        &.active {
          background: $black;
          color: $white;
          font-weight: 500;

          &:after { display: block; }
        }
      }
    }

    @include for-size(phone-wide) {
      margin: 0;
      flex-basis: 100%;

      .table-items {
        margin: 15px 0;
      }

      li {
        a {
          &.active:after {
            @include pseudo($display: block, $pos: absolute);
            @include css-triangle($black, $direction: down, $size: 10px, $position: absolute, $round: false);
            @include centerer($horizontal: true, $vertical: false);
            top: 100%;
          }
        }
      }
    }
  }

  .table-items {
    width: 100%;

    & > div {
      display: none;
      flex-wrap: wrap;

      &.active {
        display: flex;
      }
    }

    .table-item {
      display: flex;
      flex-basis: 50%;
      margin: 0;
      padding: 16px 0 16px 16px;

      & > a {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        font-weight: 500;
      }

      svg,
      .image {
        width: 45px;
        min-width: 45px;
        height: auto;
        background-size: cover;
        background-position: center;
        margin-right: 20px;
      }

      .image { height: 45px; }
    }
  }
}

.container > .table:last-child { margin-bottom: 0; }

.container > .table:last-child { margin-bottom: 0; }

.share-benefits-container {

	margin-top: 32px;

	.table-container {
		display: none;

		&.active {
			display: flex;
		}
	}

}

.share-benefits-conditions {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 3px solid;
	margin-bottom: 32px;

	li {
		padding: 0;

		a {
			text-decoration: none;
			display: block;
			padding: 16px 24px;

			&.active {
        font-weight: 700;
        background: $black;
        color: $white;
			}
		}
	}
}

