.tiles {
	padding-bottom: $section-spacing / 2;

	.title {
		margin-bottom: 32px;
	}

	.items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-row-gap: 0px;
    // margin-top: 30px;

		.tile {
			display: flex;
    	flex-direction: column;

			.image {
				height: 169px;
				background-color: darken($lightgrey, 3%);
				background-size: cover;
				background-position: center;
				margin-bottom: 20px;

				&.svg {
					display: flex;
					align-items: center;
					justify-content: center;
			
					svg {
						height: 80%;
					}
				}
			}

			.number {
				@include number();
				margin: auto;
				max-width: 120px;
				max-height: 120px;
				width: 50vw;
				height: 50vw;
				font-size: 56px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			.content {
				flex: 1;
				margin-bottom: 20px;
			}

			.link {
				text-align: center;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				min-height: 100px;

				a {
					width: 100%;
				}
			}
		}

		@include for-size(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&[data-items="5"] {
		.items { 
			grid-template-columns: repeat(5, 1fr);

			.image {
				height: 130px;
			}
		}
	}

	&[data-items="6"] {
		.items { 
			grid-template-columns: repeat(6, 1fr); 

			.image {
				height: 106px;
			}
		}
	}	

	@include for-size(tablet-wide) {
		&[data-items="5"],
		&[data-items="6"] {
			.items {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	@include for-size(phone-wide) {
		.items {
			grid-template-columns: repeat(1, 1fr) !important;

			.tile {
				padding: 15px;
				.image {
					width: 150px !important;
					height: 150px !important;
					margin: auto;
				}
				.content {
					text-align: center;

					h6 { font-size: 20px; }
					p {
						font-size: 17px;
						line-height: 1.3em;
					}
				}
				.link {
					text-align: center;
				}
			}
		}
	}
}