section.video-section {

  .inner.container {
    position: relative;
  }

  .image {
    @include fill-parent;
  }

  .content {
    @include centerer;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    width: 100%;
    pointer-events: none;

    .play {
      width: 76px;
      height: 76px;
      padding: 16px;
      background: rgba(255,255,255,0.3);
      margin: -80px 0 16px;

      &.no-title {
        margin-top: 0;
      }

      svg {
        width: auto;
        height: 100%;
        margin-left: 20%;
      }
    }
    
    h1, h2, h3, h4, h5, h6, p { color: #fff; }

    h1 {
      font-size: 56px;
    }
    
  }
}