.activity-finder {
	.finder_inner {
		& > dl {
			float: none;
	    width: 100%;
	    overflow: hidden;

		  & > dd {
		    float: left;
		    width: auto;
		    margin-right: 20px;

		    &.active {
			    & > a {
			    	color: $mm-yellow;
			    	span:after {
		          @include css-triangle($black, $direction: down, $size: 10px, $position: absolute, $round: false);
		          @include centerer($horizontal: true, $vertical: false);
			        bottom: -20px;
					    top: auto;

					    @include for-size(tablet) {
					    	bottom: auto;
					    	top: 100%;
					    	margin-top: -1px;
					    }
					  }
			    }
			  }

			  @include for-size(tablet) {
		    	margin-right: 0;
		    	width: 100%;

		    	&.active {
			    	& > a {
			    		span {
			    			padding: 20px 30px;
				    	}
			    	}

			    	dl dl dd.active {
			    		span {
	  				    background: #fbd65f;
		    				&:after {
	  					    border-top-color: #fbd65f;
		    				}
		    			}

			    	}
			    }

		    }
			}

	    & > dt {
			  clear: both;
			}

			dl {
				width: 20%;
		    left: 0;
		    top: 200px;

		    @include for-size(tablet) {
		    	width: 100%;
		    	top: 0;

		    	a > span {
		    		font-size: 19px;
		    	}
		    }

				dl {
					top: 0;
			    left: calc(100% + 32px);
			    width: 100%;

			    @include for-size(tablet) {
			    	left: 0;
	    	    padding: 0;
	    	    border-bottom-color: $mm-yellow;
			    }

			    & > dd {
			    	padding: 0;

			    	a {
			    		font-size: 20px;
			    	}
			    }

			    dl {
			    	left: calc(100% + 32px);
				    width: 260%;

				    & > dd {
				    	margin-bottom: 15px;
				    }

				    @include for-size(tablet) {
				    	left: 0;
				    	width: 100%;
		    	    border-bottom: 0px;
    	        padding: 15px 30px;

				    	& > dd {
				    		margin: 0;
				    		padding: 15px 0;
				    	}
				    }
			    }
				}
			}
		}
	}

	@include for-size('tablet') {
		dl * dl dd.active > a span { 
			background: $mm-yellow;
			&:after {
				border-top-color: $mm-yellow;
			}
		}
	}
}