.finder_outer-container {
  background: $white;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    .finder_inner {
      position: relative;
      min-height: 400px;

      @include for-size(tablet) {
        min-height: auto !important;
      }
    }
  }
}

.page-template-template-info-finder .section-header,
.page-template-template-consulation-finder .section-header {
  background: $mm-yellow;

  .section-header_inner {
    div svg path {
      fill: $white;
    }
  }
}

.finder-info-cols {
  display: flex;
  align-items: flex-start;
  
  & > svg {
    flex-basis: 50px;
    width: 50px;
    height: 72px;

    path,
    rect,
    circle,
    polygon {
      fill: $mm-yellow;
    }
  }

  .image {
    flex-basis: 75px;
    width: 75px;
    height: 75px;
    background-color: $lightgrey;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .content {
    flex: 1;
    padding: 0px 20px;
  }

  .links {
    flex-basis: auto;

    .button {
      font-size: 16px;
      padding: 8px;
      flex: 1;
      margin-right: 3px;
      margin-bottom: 3px;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include for-size(tablet) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .image {
      background-color: rgba(0,0,0,0.1);
    }

    .content {
      padding: 20px 0;
    }
  }
}

dl {
  float: left;
  width: calc( 25% - 32px );
  margin: 0 32px 32px 0;

  * dl {
    width: calc( 25% - 32px );
    left: calc( 25% );
    top: 0;
    position: absolute;

    * dl {
      left: calc( 100% + 32px );
      width: 230%;
      top: 0;
      margin-right: 0;
    }
  }

  dd dd dd.active {
    background: none;
  }

  dt {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
    border-bottom: solid $black 3px;
    padding-bottom: 16px;
    color: $black !important;
    cursor: auto;
  }

  dd {
    width: calc(100% - 10px);
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    color: $black  !important;
    cursor: pointer;

    .core &,
    .active-hospitals &,
    .consultation-guide & {
      a:link,
      a:visited,
      a:active {
        color: $black;

        &:hover {
          text-decoration: none;
        }
      }

      .button:hover,
      .button:focus {
        color: $white;
      }
    }

    & > a span {
      position: relative;
      padding: 24px 28px;
      display: block;
      background: $lightgrey;
      text-decoration: none;
      &.child { font-family: $child-font; }
      &.young-person { font-family: $young-person-font; }
    }

    a { 
      display: block;
      text-decoration: none; 
      @include transition(.3s);

      &:hover > span,
      &:focus > span {
        background: lighten($lightgrey, 2%);
      }
    }

    dl dd dl dd {
      cursor: auto;
      background: none;
    }

    &:not(.active) dl {
      display: none;

    }

    &.active {
      & > a {

        color: $mm-blue;

        .consultation-guide & {
          color: $mm-yellow;
        }

        .active-hospitals & {
          color: $ah-blue;
        }

        span {
          position: relative;
          background: $black;

          &:after {
            @include pseudo($display: block, $pos: absolute);
            @include css-triangle($black, $direction: right, $size: 10px, $position: absolute, $round: false);
            @include centerer($horizontal: false, $vertical: true);
            right: 0px;
          }
        }
      }

      .active > a span {
        font-weight: 700;
      }
    }

    * dd {
      margin: 2px; // Leaving a bit  of space for the focus style

      @include for-size(tablet-wide) {
        margin: 0;
      }

      span {
        font-size: 18px;
        font-weight: 300;
        background: $white;
        padding: 15px 20px;
      }

      &.active {
        color: $white  !important;
      }

      * dd {
        font-weight: 700;
        padding: 6px 0px;
        margin: 0 0 12px;

      }
    }
  }
}

[data-levels="3"] .active .active > a span {
  color: $white;
}

[data-levels="4"] .active .active .active > a span {
  color: $white;
}

@include for-size(tablet) {

  dl {
    width: 100%;
    clear: both;
    margin: 0;
    
    dt {
      display: none;
    }

    dd {
      width: 100%;
      clear: both;
      margin: 0;

      &.active > a {
        span:after {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #333;
          border-bottom: none;
          left: 50%;
          top: 100%;
          margin-top: 4px;
          z-index: 5;
          margin-right: 0;
        }
      }

      & * dd {
        a {
          font-size: 18px;
          font-weight: 300;
        }

        span {
          background: #e1e1e1;
          font-weight: 500;
          padding: 20px 30px;
        }
      }
    }

    * dl {
      position: relative;
      width: 100%;
      z-index: 1;
      left: 0;
      background: $white;
      margin: 0;

      dd {

        &.active > a span {
          background: $mm-blue;
          color: $black !important;

          &:after {
            border-top-color: $mm-blue;
          }
        }

        .consultation-guide &.active > a span {
          background: $mm-yellow;

          &:after {
            border-top-color: $mm-yellow;
          }
        }

        .active-hospitals &.active > a span {
          background: $ah-blue;

          &:after {
            border-top-color: $ah-blue;
          }
        }



        & * dd {
          padding: 15px 30px;
        }
      }

      * dl {
        position: relative;
        left: 0;
        width: 100%;
        background: #f3efef;
        border-bottom: 5px solid $mm-blue;
        padding: 10px 0;
      }

      .consultation-guide & * dl {
        border-bottom: 5px solid $mm-yellow;
      }

      .active-hospitals & * dl {
        border-bottom: 5px solid $ah-blue;
      }
    }
  }

  .finder_outer-container {
    .container {
      padding: 0;
    }
  }
}