.consultation-finder {
  dl {
    dd {
      &.active > a span {
        color: $mm-yellow;
      }
    }
    dl {
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      dt {
        flex-basis: 100%;
      }

      dd {
        background: none;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 32%;
        flex-direction: row;

        &:nth-child(3n):last-child {
          margin-right: auto;
        }

        a {
          flex-basis: 100%;
          padding: 15px;
          margin-bottom: 10px;
          display: flex;
          align-items: flex-start;
          font-size: 20px;
          font-weight: 300;
          color: $black;
          @include transition;

          svg {
            width: 56px;
            min-width: 56px;
            height: auto;
            margin-right: 16px;

            path,
            rect,
            circle {
              @include transition;
              fill: $mm-yellow;
            }
          }

          &:hover,
          &:focus {
            background: $mm-yellow;
            font-weight: bold;
            
            svg {
              path,
              rect,
              circle {
                fill: $black;
              }
            }
          }
        }
      }
    }
  }

  @include for-size(tablet) {
    dl {

      dd.active {
        dl {
          border-bottom: 5px solid $mm-yellow;
        }
      }

      dl {
        width: 100%;

        dd {
          flex-basis: 100%;
          border-bottom: 1px solid $mm-yellow;

          a {
            align-items: center;
            margin: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}