.resource-finder {
  dl {
    dd {
      &.active > span {
        color: $ah-blue;
      }
    }
    dl {
      width: 50%;

      dd {
        cursor: auto;
        background: none;
        margin-bottom: 20px;
      }

      @include for-size(tablet) {
        width: 100%;
        padding: 30px;
      }
    }
  }
  .finder-info-cols {
    svg {
      path,
      rect,
      polygon {
        fill: $ah-blue;
      }
    }
  }
}