.error404 {

  section.billboard-section .content {
    left: 33%;

    &:after {
      @include css-triangle($black, right, 24px);
      @include centerer(false, true);
      left: 100%;
      margin-right: -16px;
    }
  }

  .mejs-container {
      padding-top: 56.25%;
  }
  .wp-video, video.wp-video-shortcode {
      max-width: 100% !important;
      width: 100% !important;
  }
  video.wp-video-shortcode {
      position: relative;
      z-index: -1;
  }
  .mejs-mediaelement {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  .mejs-controls {
      display: none;
  }
  .mejs-overlay-play {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto !important;
      height: auto !important;
  }
}