.billboard-section:first-child {
  margin-top: -$section-spacing;

  @include for-size(tablet) {
    body.admin-bar & {
      margin-top: -#{$section-spacing + $container-padding};
    }
  }
}

section.billboard-section {
  position: relative;

  @include for-size(tablet) {
    overflow: hidden;
  }

  .mm-video {
    position: relative;

    @include for-size(tablet) {
      
      left: 50%;
      transform: translateX(-50%);

      @media screen and (orientation:portrait) {
        height: calc((100vh - #{$header-height} ));
        width: calc((100vh - #{$header-height} ) * (16/9) );
      }

      @media screen and (orientation:landscape) {
        height: calc((100vw - #{$header-height} ));
        width: calc((100vw - #{$header-height} ) * (16/9) );
      }

    }
  }

  .share {
    position: absolute;
    padding: 20px 30px;
    max-width: 1170px;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
    bottom: 0;
  }

  &.no-video {
    min-height: calc( 100vh - 40px );
  }

  .image {
    @include fill-parent;
  }

  .cover-video{
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: 1;
  }

  video {
    @include centerer($horizontal: true, $vertical: true);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    @include centerer;
    background: #333;
    max-width: 500px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;

    @include for-size(tablet) {
      width: 90%
    }

    .heading {
      margin-bottom: 8px;
    }
    
    h1, h2, h3, h4, h5, h6, p { color: #fff; }
    
    &:after {
      @include pseudo($display: block, $pos: absolute);
      @include css-triangle($black, $direction: down, $size: 35px, $position: absolute, $round: false);
      @include centerer($horizontal: true, $vertical: false);
      top: 100%;
    }
  }
}