h1, h2, h3 {
	margin-top: $section-spacing / 1.5;
}

.wp-block-group.has-background .wp-block-group__inner-container {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
}

// Add spacing to regular text elements
section.grey +,
.wp-block-group.has-lightgrey-background-color + {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre,
  code {
    margin-top: $section-spacing;
  }
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre,
  code {
    + section.grey,
    + .wp-block-group.has-lightgrey-background-color {
      margin-top: $section-spacing;
  }
}

section.content-section {

	img.alignleft {
		float: left;
		margin: 0px 20px 20px 0px;
	}

	img.alignright {
		float: right;
		margin: 0px 0px 20px 20px;
	}
}

.section {
	&.white {
		background-color: $white;
	}
	
	&.grey {
		background-color: $lightgrey;
	}
}

section.section.content-section {
  padding-top: $section-spacing;
}

section.section.content-section:first-child {
  padding-top: 0;
}

// .active-hospitals section.section.split-section:first-child {
//   margin-top: $section-spacing / 2;
// }

// Remove the top padding if two matching colors are touching
section.section.content-section.white:not(.pathway-container) + section.section.content-section.white,
section.section.content-section.grey:not(.pathway-container) + section.section.content-section.grey,
section.section.split-content.white + section.section.content-section.white,
section.section.split-content.grey + section.section.content-section.grey,
.wp-block-group.has-lightgrey-background-color + section.section.content-section.grey {
  padding-top: 0;
}

section.section.content-section.white + section.section.split-content.white,
section.section.content-section.grey + section.section.split-content.grey,
.wp-block-group.has-lightgrey-background-color + .wp-block-group.has-lightgrey-background-color,
section.section.content-section.grey + .wp-block-group.has-lightgrey-background-color {
  .split .content,
  .wp-block-group__inner-container {
    padding-top: 0;
  }
}

@include for-size(tablet) {
  section.section.split-section.white:not(.pathway-container) + section.section.content-section.white,
  section.section.split-section.grey:not(.pathway-container) + section.section.content-section.grey {
    padding-top: 0;
  }
  
  section.section.split-section.white + section.section.split-content.white,
  section.section.split-section.grey + section.section.split-content.grey {
    .split:first-child .content {
      padding-top: 0;
    }
  }
}

section.split-section.full-bleed:not(.split-content):last-child {
  margin-bottom: -$section-spacing;
}

h1 + section.section.content-section.white,
h2 + section.section.content-section.white {
	padding-top: $section-spacing / 4;
}
