.exit-intent-forms {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 500;

	.exit-intent-form {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 1px 1px 30px rgba(0,0,0,0.2);
		z-index: 501;
		height: 100%;
		background-position: -50px 46px;

		.top-bar {
			background: inherit;
			padding: 0px;
			position: absolute;
			top: 30px;
			right: 20px;

			.exit-intent-close {
				font-size: 64px;
				font-style: normal;
				font-weight: 100;

				&:before,
					&:after {
					@include hamburger-line($black);
					position: absolute;
					transition: all .3s ease-in-out;
					width: 100%;
					z-index: 10;
				}
				&:after {
					transform: rotate(-45deg);
				}
				&:before {
					transform: rotate(45deg);
				}
			}

			a {
				display: block;
				width: 30px;
				height: 30px;
				margin: 0;
				float: right;
				padding: 0;

				svg {
					position: relative;
					top: 0;
					height: 30px;
					transform: none;
					transition: transform 0.3s ease;
					transform-origin: center;

					path {
						fill: black;
					}
				}

				&:hover {
					color: unset;
					text-decoration: unset;
				}
			}
		}


		.content {
			background: #fff;
			padding: 70px 150px;
			max-width: 675px;
			color: #000;

			p, h1 {
				color: #000;

				&:empty {
					display:none;
				}
			}

			&:after {
				border-color: #fff;
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 35px solid #fff;
			}
		}
	}


}