.quiz-section {
  padding: 0 0 36px;
  
  .quiz {
    max-width: $container-tablet-portrait;
    margin: auto;

    h4 {
      margin-bottom: 48px;
      border-bottom: solid;
      padding-bottom: 12px;
    }
  
    .question-inner {
      display: flex;
  
      .image.svg {
        margin-right: 24px;
  
        svg {
          width: 120px;

          body.active-hospitals & {
            path,
            circle,
            rect,
            polygon {
              fill: $ah-purple;
            }

            line {
              stroke: $ah-purple;
            }
          }
        }
      }
  
      .content p {
        font-size: 28px;
        font-weight: 500;

        @include for-size(tablet) {
          font-size: 18px;
        }
      }
  
      .answer {
        display: none;

        @include for-size(tablet) {
          p {
            font-size: 15px;
          }
        }

      }
    }
  
    .tns-controls {
      position: absolute;
      top: 50%;
      width: 100%;
      padding: 0 30px;
      transform: translate(-50%, -50%);
  
      @include for-size(tablet) {
        width: 100vw;
        padding: 0;
  
        button:first-child { border-left: none; }
        button:last-child { border-right: none; }
      }
    }
  }  
}

