section.quote-section {
	padding: $section-spacing 0;

	.quotes {
		.quote {
	    text-align: center;
	    padding: 0px 100px;

	    .image {
	    	background: $grey;
  	    width: $image-medium;
				height: $image-medium;
				background-size: cover;
				background-position: center;
				margin: 0px auto 20px;
	    }

	    .content {
				margin: auto;
				
				p:first-child {
					&:before {
						content: "\201C";
					}

					&:after {
							content: "\201D";
					}
				}

	    	p {
					font-size: 30px;
	    		line-height: 1.3em;
	    		font-weight: 500;
				}
				
				.name {
					font-weight: 300;
				}
	    }
		}

		@include for-size(tablet) {
			.quote {
				padding: 0px 30px;

				.content {
					p { 
						font-size: 18px; 
					}
				}
			}
		}
	}

	.tns-controls {
		position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include for-size(tablet) {
      width: 100vw;
	    padding: 0;

	    button:first-child { margin-left: -3px }
	    button:last-child { margin-right: -3px; }
	  }
	}
}