.split-section {
  display: flex;
  flex-direction: row;

  // &:nth-child(even) {
  //   background: rgba(0,0,0,0.05);
  // }

  &.image-right {
    flex-direction: row-reverse;

    .content {
      margin-left: auto;

      @include for-size(tablet) {
        margin-left: 0;
      }
    }
  }
  
  .split {
    flex: 1;
    display: flex;
    position: relative;

    .content {
      max-width: $container-full / 2;
      padding: $section-spacing 30px;
      flex: 1 0 0;
    }

    .image {
      width: 100%;
      height: 100%;
      // background-color: $grey;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &.cover {
        background-size: cover;
      }

      &.top {
        background-position: top;
      }

      &.bottom {
        background-position: bottom;
      }
    }

    &:first-child {
      justify-content: flex-end;
    }
  }

  &.wide-content {
    .split {
      &:first-child {
        flex: 0.5;
      }
      .content {
        max-width: $container-full / 2 * 1.41;
      }
    }
  }

  @media only screen and (max-width: $container-tablet-portrait) {
    flex-direction: column;

    .split {
      .image {
        min-height: 250px;
      }
      .content {
        max-width: 100%;
      }
    }

    &.split-content,
    &.image-right,
    &.image-left {
      flex-direction: column;
    }

    &.split-content {
      .split:last-child {
        .content {
          padding-top: 0px;
        }
      }
    }
  }
}