/* Width of "full-wide" blocks */
/* line 2, ../../src/sass/editor/e_base.scss */
.wp-block {
  max-width: 768px;
}

/* line 7, ../../src/sass/editor/e_base.scss */
.block-editor-block-list__layout
.block-editor-block-list__block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}

/* line 14, ../../src/sass/editor/e_base.scss */
h1,
h2,
h3 {
  margin: 0;
}

/* line 20, ../../src/sass/editor/e_base.scss */
h4,
h5,
h6,
p {
  margin: 1em 0;
}

/* line 27, ../../src/sass/editor/e_base.scss */
img[alt="icon"] {
  margin-top: -28px;
}

/* line 31, ../../src/sass/editor/e_base.scss */
.wp-block[data-type="mm/cg-intro-group"] {
  margin-bottom: 88px;
}

/* line 35, ../../src/sass/editor/e_base.scss */
.wp-block[data-type="mm/cg-insight-group"] {
  margin-top: 24px;
}

/* line 39, ../../src/sass/editor/e_base.scss */
.wp-block[data-type="core/freeform"] {
  margin-left: 148px;
}

/* line 43, ../../src/sass/editor/e_base.scss */
.circular {
  -webkit-border-radius: 9em;
     -moz-border-radius: 9em;
          border-radius: 9em;
}

/* line 47, ../../src/sass/editor/e_base.scss */
.mm-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
}

/* line 51, ../../src/sass/editor/e_base.scss */
.mm-video:before {
  content: "";
  display: block;
  position: static;
  padding-top: 56.25%;
}

/* line 56, ../../src/sass/editor/e_base.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 72, ../../src/sass/editor/e_base.scss */
.section.white {
  background-color: #FFF;
}
/* line 76, ../../src/sass/editor/e_base.scss */
.section.grey {
  background-color: #f2efef;
}

/* line 81, ../../src/sass/editor/e_base.scss */
.wp-block-pullquote {
  border: none;
  border-top: 3px solid #00bfd7;
  border-bottom: 3px solid #00bfd7;
}

/* line 87, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote {
  border: none;
  border-top: 3px solid #00bfd7;
  border-bottom: 3px solid #00bfd7;
  padding: 24px 0;
  margin: 48px 0;
}
/* line 94, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote p {
  font-size: 24px;
  line-height: 1.3em;
  color: #333;
}
/* line 100, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote strong {
  font-weight: 700;
}
/* line 104, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote.wp-block-quote.is-style-large {
  padding: 32px 0;
  margin: 48px 0;
}
/* line 108, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote.wp-block-quote.is-style-large p {
  font-size: 28px;
  font-style: normal;
  line-height: 1.4em;
}
/* line 113, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote.wp-block-quote.is-style-large p strong {
  font-weight: 700;
}
/* line 119, ../../src/sass/editor/e_base.scss */
body.active-hospitals blockquote.wp-block-quote {
  border-color: #6acbe0;
}
/* line 123, ../../src/sass/editor/e_base.scss */
body.consultation-guide blockquote.wp-block-quote {
  border-color: #ff5c7e;
}
/* line 127, ../../src/sass/editor/e_base.scss */
blockquote.wp-block-quote cite {
  font-size: 18px;
}

/* line 132, ../../src/sass/editor/e_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 30px 0;
  overflow-x: scroll;
}
/* line 139, ../../src/sass/editor/e_base.scss */
table::-webkit-scrollbar {
  display: none;
}
/* line 143, ../../src/sass/editor/e_base.scss */
table td,
table th {
  text-align: left;
  border: 1px solid #333;
  padding: 16px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}
/* line 153, ../../src/sass/editor/e_base.scss */
table th {
  background: #f2efef;
  font-weight: bold;
}

/* line 1, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator {
  position: relative;
}
/* line 4, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .intro-text p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
/* line 10, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 24px;
}
/* line 18, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .question p {
  margin: 0 48px 0 0;
}
/* line 24, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator input.single {
  width: 48px;
  height: 48px;
  background: #FFF;
  border: 1px solid #333;
  text-align: center;
  font-size: 20px;
  font-family: "filson-pro", sans-serif;
}
/* line 34, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .get-retsults-container {
  margin-top: 34px;
  padding-bottom: 8px;
  text-align: right;
}
/* line 40, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator button.get-results, .activity-calculator button.restart-activity {
  background-color: #FFF;
  color: #333;
  padding: 12px 24px;
  line-height: 1;
  font-family: "filson-pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #333;
  cursor: pointer;
}
/* line 51, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator button.get-results:hover, .activity-calculator button.restart-activity:hover {
  background-color: #333;
  color: #FFF;
}
/* line 57, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .restart-container {
  margin-top: 32px;
  margin-bottom: 8px;
}
/* line 62, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .secret {
  display: none;
}
/* line 66, ../../src/sass/editor/e_activity-calculator.scss */
.activity-calculator .results-text {
  display: none;
}

/* line 1, ../../src/sass/editor/e_share-benefits.scss */
.table {
  margin-bottom: 20px;
}
/* line 4, ../../src/sass/editor/e_share-benefits.scss */
.table > .title {
  margin-bottom: 16px;
}
/* line 8, ../../src/sass/editor/e_share-benefits.scss */
.table .table-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 8, ../../src/sass/editor/e_share-benefits.scss */
  .table .table-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* line 17, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
          flex-basis: 160px;
  margin: 0 40px 0 0;
  list-style: none;
}
/* line 24, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories li {
  margin: 15px 0;
}
/* line 184, ../../src/sass/helpers/_mixins.scss */
.table .table-categories li:first-child {
  margin-top: 0;
}
/* line 185, ../../src/sass/helpers/_mixins.scss */
.table .table-categories li:last-child {
  margin-bottom: 0;
}
/* line 29, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories li > a {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
  color: #333;
  text-decoration: none;
}
/* line 37, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories li > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #333;
  margin-right: -10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  display: none;
}
/* line 44, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories li > a.active {
  background: #333;
  color: #FFF;
  font-weight: 500;
}
/* line 49, ../../src/sass/editor/e_share-benefits.scss */
.table .table-categories li > a.active:after {
  display: block;
}
@media only screen and (max-width: 480px) {
  /* line 17, ../../src/sass/editor/e_share-benefits.scss */
  .table .table-categories {
    margin: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  /* line 58, ../../src/sass/editor/e_share-benefits.scss */
  .table .table-categories .table-items {
    margin: 15px 0;
  }
  /* line 64, ../../src/sass/editor/e_share-benefits.scss */
  .table .table-categories li a.active:after {
    content: "";
    display: block;
    position: absolute;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    margin-top: -4px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 100%;
  }
}
/* line 75, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items {
  width: 100%;
}
/* line 78, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items > div {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/* line 82, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items > div.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 87, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items .table-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  margin: 0;
  padding: 16px 0 16px 16px;
}
/* line 93, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items .table-item > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  font-weight: 500;
}
/* line 100, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items .table-item svg,
.table .table-items .table-item .image {
  width: 45px;
  min-width: 45px;
  height: auto;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  margin-right: 20px;
}
/* line 110, ../../src/sass/editor/e_share-benefits.scss */
.table .table-items .table-item .image {
  height: 45px;
}

/* line 115, ../../src/sass/editor/e_share-benefits.scss */
.container > .table:last-child {
  margin-bottom: 0;
}

/* line 117, ../../src/sass/editor/e_share-benefits.scss */
.container > .table:last-child {
  margin-bottom: 0;
}

/* line 119, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-container {
  margin-top: 32px;
}
/* line 123, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-container .table-container {
  display: none;
}
/* line 126, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-container .table-container.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 133, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-conditions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 3px solid;
  margin-bottom: 32px;
}
/* line 142, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-conditions li {
  padding: 0;
}
/* line 145, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-conditions li a {
  text-decoration: none;
  display: block;
  padding: 16px 24px;
}
/* line 150, ../../src/sass/editor/e_share-benefits.scss */
.share-benefits-conditions li a.active {
  font-weight: 700;
  background: #333;
  color: #FFF;
}

/* line 2, ../../src/sass/editor/e_common-concerns.scss */
.accordion {
  padding-bottom: 48px;
  margin: 22px 0;
}
/* line 303, ../../src/sass/helpers/_mixins.scss */
.accordion .title {
  margin-bottom: 10px;
}
/* line 6, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px 0;
  border-bottom: 2px solid #333;
}
/* line 12, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .image {
  width: 45px;
  height: 45px;
  background: #989898;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  margin-right: 20px;
}
/* line 151, ../../src/sass/helpers/_mixins.scss */
.accordion .accordion-item .image.round {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
/* line 17, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/* line 20, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .content main {
  display: none;
  padding-top: 8px;
}
/* line 25, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .content header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}
/* line 30, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .content header * {
  line-height: 1.25em;
  font-weight: 500;
}
/* line 37, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 43, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  border: 2px solid #333;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 53, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander a svg {
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 54, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander a svg path {
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 57, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander a:hover {
  background: #333;
}
/* line 59, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item .expander a:hover svg path {
  fill: #FFF;
}
/* line 66, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item.open .expander a {
  background: #333;
}
/* line 68, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item.open .expander a svg {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
/* line 70, ../../src/sass/editor/e_common-concerns.scss */
.accordion .accordion-item.open .expander a svg path {
  fill: #FFF;
}

/* line 1, ../../src/sass/editor/e_cycles.scss */
.section.cycles-tool {
  padding-bottom: 0;
}

/* line 5, ../../src/sass/editor/e_cycles.scss */
.cycles-container {
  margin-top: 30px;
}

/* line 9, ../../src/sass/editor/e_cycles.scss */
.cycles-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/* line 14, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col:first-child p {
  font-weight: 500;
}
/* line 18, ../../src/sass/editor/e_cycles.scss */
.cycles-row.nested {
  margin-left: -16px;
}
/* line 21, ../../src/sass/editor/e_cycles.scss */
.cycles-row.nested .cycles-col {
  margin-bottom: 22px;
}
/* line 26, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col:not(:first-child) {
  position: relative;
  padding: 0;
}
/* line 30, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col:not(:first-child) a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 16px 24px;
  background: #f2efef;
  color: #333;
  font-size: 21px;
  text-decoration: none;
  font-weight: 300;
}
/* line 45, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col:not(:first-child) a.active {
  position: relative;
  background: #333;
  font-weight: 500;
  color: #FFF;
}
/* line 51, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col:not(:first-child) a.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 24px solid #333;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 100%;
}
/* line 60, ../../src/sass/editor/e_cycles.scss */
.cycles-row .cycles-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 16px auto 16px 16px;
}
/* line 67, ../../src/sass/editor/e_cycles.scss */
.cycles-row:not(.nested) > .cycles-col:first-child {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 16%;
      -ms-flex-preferred-size: 16%;
          flex-basis: 16%;
}
/* line 75, ../../src/sass/editor/e_cycles.scss */
.cycles-row:not(.nested) > .cycles-col.steps {
  background: none;
}
/* line 80, ../../src/sass/editor/e_cycles.scss */
.cycles-row ul {
  list-style: none;
  margin: 0;
  display: none;
}
/* line 85, ../../src/sass/editor/e_cycles.scss */
.cycles-row ul.active {
  display: block;
}
/* line 89, ../../src/sass/editor/e_cycles.scss */
.cycles-row ul li {
  margin: 10px 0;
  text-align: center;
}
/* line 184, ../../src/sass/helpers/_mixins.scss */
.cycles-row ul li:first-child {
  margin-top: 0;
}
/* line 185, ../../src/sass/helpers/_mixins.scss */
.cycles-row ul li:last-child {
  margin-bottom: 0;
}
/* line 94, ../../src/sass/editor/e_cycles.scss */
.cycles-row ul li.step {
  position: relative;
  padding: 22px 24px;
  margin-bottom: 24px;
  background: #f2efef;
  font-weight: 500;
}
/* line 101, ../../src/sass/editor/e_cycles.scss */
.cycles-row ul li.step:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 24px solid #f2efef;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 100%;
}

/* line 1, ../../src/sass/editor/e_decision.scss */
section.content-section.decision-tool {
  padding: 0;
}

/* line 5, ../../src/sass/editor/e_decision.scss */
.decision-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 10, ../../src/sass/editor/e_decision.scss */
.decision-inner .decision-not-ready .triangle-for-tools:after {
  margin-left: -24px;
}
/* line 16, ../../src/sass/editor/e_decision.scss */
.decision-inner .decision-ready .triangle-for-tools:after {
  margin-left: 24px;
}
/* line 21, ../../src/sass/editor/e_decision.scss */
.decision-inner .decision-spacer {
  padding: 36px 24px;
}

/* line 1, ../../src/sass/editor/e_list.scss */
.list {
  padding-bottom: 48px;
}
/* line 303, ../../src/sass/helpers/_mixins.scss */
.list .title {
  margin-bottom: 10px;
}
/* line 4, ../../src/sass/editor/e_list.scss */
.list h6 {
  font-size: 18px;
  font-weight: 500;
}
/* line 9, ../../src/sass/editor/e_list.scss */
.list .list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}
/* line 14, ../../src/sass/editor/e_list.scss */
.list .list-item .image {
  width: 45px;
  height: 45px;
  background: #989898;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  margin-right: 20px;
}
/* line 151, ../../src/sass/helpers/_mixins.scss */
.list .list-item .image.round {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
/* line 17, ../../src/sass/editor/e_list.scss */
.list .list-item .image.svg {
  background: none;
}
/* line 21, ../../src/sass/editor/e_list.scss */
.list .list-item .image svg {
  width: 100%;
  height: 100%;
}
/* line 27, ../../src/sass/editor/e_list.scss */
.list .list-item .number {
  background: #6858e9;
  width: 45px;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  margin-right: 20px;
}
/* line 41, ../../src/sass/editor/e_list.scss */
.list .list-item .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 51, ../../src/sass/editor/e_list.scss */
.list .list-item .content header * {
  line-height: 1.25em;
  font-weight: 500;
}
/* line 58, ../../src/sass/editor/e_list.scss */
.list .list-item .link {
  margin-left: 20px;
}

/* line 1, ../../src/sass/editor/e_signposts.scss */
.list {
  margin-top: 16px;
}

/* line 1, ../../src/sass/editor/e_resources.scss */
.resources-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 16px -16px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/* line 7, ../../src/sass/editor/e_resources.scss */
.resources-items .resources-item {
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

/* line 15, ../../src/sass/editor/e_resources.scss */
.link-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
}
/* line 20, ../../src/sass/editor/e_resources.scss */
.link-row .link {
  margin-right: 16px;
}

/* line 25, ../../src/sass/editor/e_resources.scss */
section.modal {
  display: none;
}

/* line 1, ../../src/sass/editor/e_accordion.scss */
.number {
  background: #72d44a;
  width: 45px;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  margin-right: 20px;
}
/* line 135, ../../src/sass/helpers/_mixins.scss */
body.active-hospitals .number {
  background: #6858e9;
}
/* line 139, ../../src/sass/helpers/_mixins.scss */
body.consultation-guide .number {
  background: #ff5c7e;
}

/* line 1, ../../src/sass/editor/e_billboard.scss */
section.billboard-section {
  position: relative;
}
/* line 4, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share {
  position: absolute;
  padding: 20px 30px;
  max-width: 1170px;
  width: 100%;
  -webkit-transform: translate(-50%);
     -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
       -o-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  bottom: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: .3;
  -webkit-flex: .3;
     -moz-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
}
/* line 20, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share div svg path {
  fill: #FFF;
}
/* line 24, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos {
  overflow: hidden;
  margin-left: 15px;
}
/* line 27, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin: 0px 7px;
  width: 50px;
  height: 50px;
  float: left;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 184, ../../src/sass/helpers/_mixins.scss */
section.billboard-section .share .logos .logo:first-child {
  margin-top: 0;
}
/* line 185, ../../src/sass/helpers/_mixins.scss */
section.billboard-section .share .logos .logo:last-child {
  margin-bottom: 0;
}
/* line 188, ../../src/sass/helpers/_mixins.scss */
section.billboard-section .share .logos .logo:first-child {
  margin-left: 0;
}
/* line 189, ../../src/sass/helpers/_mixins.scss */
section.billboard-section .share .logos .logo:last-child {
  margin-right: 0;
}
/* line 41, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos .logo svg {
  width: 55%;
  height: auto;
}
/* line 45, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos .logo svg path {
  fill: #FFF;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 51, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos .logo:hover, section.billboard-section .share .logos .logo:focus {
  background: #FFF;
}
/* line 54, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .share .logos .logo:hover svg path, section.billboard-section .share .logos .logo:focus svg path {
  fill: #72d44a;
}
/* line 56, ../../src/sass/editor/e_billboard.scss */
body.active-hospitals section.billboard-section .share .logos .logo:hover svg path, body.active-hospitals section.billboard-section .share .logos .logo:focus svg path {
  fill: #6858e9;
}
/* line 60, ../../src/sass/editor/e_billboard.scss */
body.consultation-guide section.billboard-section .share .logos .logo:hover svg path, body.consultation-guide section.billboard-section .share .logos .logo:focus svg path {
  fill: #ff5c7e;
}
/* line 70, ../../src/sass/editor/e_billboard.scss */
section.billboard-section.no-video {
  min-height: -webkit-calc( 100vh - 40px );
  min-height: -moz-calc( 100vh - 40px );
  min-height: calc( 100vh - 40px );
}
/* line 74, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
}
/* line 78, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .cover-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
/* line 87, ../../src/sass/editor/e_billboard.scss */
section.billboard-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
/* line 95, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #333;
  max-width: 500px;
  padding: 40px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 2;
}
/* line 105, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .content h1, section.billboard-section .content h2, section.billboard-section .content h3, section.billboard-section .content h4, section.billboard-section .content h5, section.billboard-section .content h6, section.billboard-section .content p {
  color: #fff;
}
/* line 107, ../../src/sass/editor/e_billboard.scss */
section.billboard-section .content:after {
  content: "";
  display: block;
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #333;
  margin-top: -14px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 100%;
}

/* line 3, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-container {
  margin-top: 30px;
  overflow-x: scroll;
}
/* line 7, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-container::-webkit-scrollbar {
  display: none;
}
/* line 12, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 17, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-row:first-child .pathway-col:not(:first-child) {
  position: relative;
  background: #00bfd7;
}
/* line 21, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-row:first-child .pathway-col:not(:first-child):after {
  content: "";
  display: block;
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #00bfd7;
  margin-right: -10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0px;
}
/* line 28, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-row:first-child .pathway-col {
  margin-top: 0;
}
/* line 34, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  padding: 15px;
}
/* line 39, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-col:not(:first-child) {
  background: rgba(0, 0, 0, 0.05);
  min-width: 130px;
}
/* line 44, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-col:first-child {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
     -moz-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 70px;
      -ms-flex-preferred-size: 70px;
          flex-basis: 70px;
}
/* line 54, ../../src/sass/editor/e_pathway.scss */
.pathway .pathway-col:last-child {
  margin-right: 0;
}
/* line 59, ../../src/sass/editor/e_pathway.scss */
.pathway ul {
  list-style: none;
  margin: 0;
}
/* line 63, ../../src/sass/editor/e_pathway.scss */
.pathway ul li {
  margin: 10px 0;
}
/* line 184, ../../src/sass/helpers/_mixins.scss */
.pathway ul li:first-child {
  margin-top: 0;
}
/* line 185, ../../src/sass/helpers/_mixins.scss */
.pathway ul li:last-child {
  margin-bottom: 0;
}

/* line 1, ../../src/sass/editor/e_tiles.scss */
.tiles {
  padding-bottom: 24px;
}
/* line 4, ../../src/sass/editor/e_tiles.scss */
.tiles .title {
  margin-bottom: 32px;
}
/* line 8, ../../src/sass/editor/e_tiles.scss */
.tiles .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0px;
}
/* line 15, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 19, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .image {
  height: 169px;
  background-color: #ebe7e7;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
/* line 26, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .image.svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 31, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .image.svg svg {
  height: 80%;
}
/* line 37, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .number {
  background: #72d44a;
  width: 45px;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  margin-right: 20px;
  margin: auto;
  max-width: 120px;
  max-height: 120px;
  width: 50vw;
  height: 50vw;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 135, ../../src/sass/helpers/_mixins.scss */
body.active-hospitals .tiles .items .tile .number {
  background: #6858e9;
}
/* line 139, ../../src/sass/helpers/_mixins.scss */
body.consultation-guide .tiles .items .tile .number {
  background: #ff5c7e;
}
/* line 49, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}
/* line 54, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .link {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
}
/* line 61, ../../src/sass/editor/e_tiles.scss */
.tiles .items .tile .link a {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 8, ../../src/sass/editor/e_tiles.scss */
  .tiles .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* line 73, ../../src/sass/editor/e_tiles.scss */
.tiles[data-items="5"] .items {
  grid-template-columns: repeat(5, 1fr);
}
/* line 76, ../../src/sass/editor/e_tiles.scss */
.tiles[data-items="5"] .items .image {
  height: 130px;
}
/* line 83, ../../src/sass/editor/e_tiles.scss */
.tiles[data-items="6"] .items {
  grid-template-columns: repeat(6, 1fr);
}
/* line 86, ../../src/sass/editor/e_tiles.scss */
.tiles[data-items="6"] .items .image {
  height: 106px;
}
@media only screen and (max-width: 1024px) {
  /* line 95, ../../src/sass/editor/e_tiles.scss */
  .tiles[data-items="5"] .items, .tiles[data-items="6"] .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  /* line 102, ../../src/sass/editor/e_tiles.scss */
  .tiles .items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  /* line 105, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile {
    padding: 15px;
  }
  /* line 107, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile .image {
    width: 150px !important;
    height: 150px !important;
    margin: auto;
  }
  /* line 112, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile .content {
    text-align: center;
  }
  /* line 115, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile .content h6 {
    font-size: 20px;
  }
  /* line 116, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile .content p {
    font-size: 17px;
    line-height: 1.3em;
  }
  /* line 121, ../../src/sass/editor/e_tiles.scss */
  .tiles .items .tile .link {
    text-align: center;
  }
}

/* line 1, ../../src/sass/editor/e_split-section.scss */
.split-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 9, ../../src/sass/editor/e_split-section.scss */
.split-section.image-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/* line 12, ../../src/sass/editor/e_split-section.scss */
.split-section.image-right .content {
  margin-left: auto;
}
/* line 17, ../../src/sass/editor/e_split-section.scss */
.split-section .split {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
/* line 22, ../../src/sass/editor/e_split-section.scss */
.split-section .split .content {
  max-width: 585px;
  padding: 50px 30px;
}
/* line 27, ../../src/sass/editor/e_split-section.scss */
.split-section .split .image {
  width: 100%;
  height: 100%;
  background-color: #989898;
  -webkit-background-size: contain;
     -moz-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 35, ../../src/sass/editor/e_split-section.scss */
.split-section .split .image.cover {
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}
/* line 39, ../../src/sass/editor/e_split-section.scss */
.split-section .split .image.top {
  background-position: top;
}
/* line 43, ../../src/sass/editor/e_split-section.scss */
.split-section .split .image.bottom {
  background-position: bottom;
}
/* line 48, ../../src/sass/editor/e_split-section.scss */
.split-section .split:first-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/* line 55, ../../src/sass/editor/e_split-section.scss */
.split-section.wide-content .split:first-child {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
     -moz-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
/* line 58, ../../src/sass/editor/e_split-section.scss */
.split-section.wide-content .split .content {
  max-width: 824.85px;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../../src/sass/editor/e_split-section.scss */
  .split-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  /* line 68, ../../src/sass/editor/e_split-section.scss */
  .split-section .split .image {
    min-height: 250px;
  }
  /* line 71, ../../src/sass/editor/e_split-section.scss */
  .split-section .split .content {
    max-width: 100%;
  }
  /* line 76, ../../src/sass/editor/e_split-section.scss */
  .split-section.split-content, .split-section.image-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 83, ../../src/sass/editor/e_split-section.scss */
  .split-section.split-content .split:last-child .content {
    padding-top: 0px;
  }
}

/* line 1, ../../src/sass/editor/e_quote.scss */
section.quote-section {
  padding: 50px 0;
}
/* line 5, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote:nth-child(n+2) {
  display: none;
}
/* line 8, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote {
  text-align: center;
  padding: 0px 8px;
}
/* line 12, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote .image {
  background: #989898;
  width: 150px;
  height: 150px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  margin: 0px auto 20px;
}
/* line 21, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote .content {
  margin: auto;
}
/* line 24, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote .content p {
  font-size: 26px;
  line-height: 1.3em;
  font-weight: 700;
}
/* line 30, ../../src/sass/editor/e_quote.scss */
section.quote-section .quotes .quote .content .name {
  font-weight: 300;
  margin-top: 1.1em;
}
@media only screen and (max-width: 768px) {
  /* line 38, ../../src/sass/editor/e_quote.scss */
  section.quote-section .quotes .quote {
    padding: 0px 50px;
  }
  /* line 41, ../../src/sass/editor/e_quote.scss */
  section.quote-section .quotes .quote .content p {
    font-size: 22px;
  }
}
/* line 48, ../../src/sass/editor/e_quote.scss */
section.quote-section .tns-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  /* line 48, ../../src/sass/editor/e_quote.scss */
  section.quote-section .tns-controls {
    width: 100vw;
    padding: 0;
  }
  /* line 57, ../../src/sass/editor/e_quote.scss */
  section.quote-section .tns-controls button:first-child {
    border-left: none;
  }
  /* line 58, ../../src/sass/editor/e_quote.scss */
  section.quote-section .tns-controls button:last-child {
    border-right: none;
  }
}

/* line 2, ../../src/sass/editor/e_quiz.scss */
.quiz h4 {
  margin-bottom: 48px;
  border-bottom: solid;
  padding-bottom: 12px;
}
/* line 8, ../../src/sass/editor/e_quiz.scss */
.quiz .question,
.quiz .outro {
  display: none;
}
/* line 13, ../../src/sass/editor/e_quiz.scss */
.quiz .question-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 16, ../../src/sass/editor/e_quiz.scss */
.quiz .question-inner .image.svg {
  margin-right: 24px;
}
/* line 19, ../../src/sass/editor/e_quiz.scss */
.quiz .question-inner .image.svg svg {
  width: 120px;
}
/* line 24, ../../src/sass/editor/e_quiz.scss */
.quiz .question-inner .content p {
  font-size: 28px;
  font-weight: 500;
}
/* line 29, ../../src/sass/editor/e_quiz.scss */
.quiz .question-inner .answer {
  display: none;
}
/* line 34, ../../src/sass/editor/e_quiz.scss */
.quiz .tns-controls {
  position: absolute;
  top: 50%;
  width: 140%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  /* line 34, ../../src/sass/editor/e_quiz.scss */
  .quiz .tns-controls {
    width: 100vw;
    padding: 0;
  }
  /* line 44, ../../src/sass/editor/e_quiz.scss */
  .quiz .tns-controls button:first-child {
    border-left: none;
  }
  /* line 45, ../../src/sass/editor/e_quiz.scss */
  .quiz .tns-controls button:last-child {
    border-right: none;
  }
}

/* line 3, ../../src/sass/editor/e_video.scss */
section.video-section .inner.container {
  position: relative;
}
/* line 7, ../../src/sass/editor/e_video.scss */
section.video-section .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
}
/* line 11, ../../src/sass/editor/e_video.scss */
section.video-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 2;
  width: 100%;
  pointer-events: none;
}
/* line 23, ../../src/sass/editor/e_video.scss */
section.video-section .content .play {
  width: 76px;
  height: 76px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  margin: -80px 0 16px;
}
/* line 30, ../../src/sass/editor/e_video.scss */
section.video-section .content .play.no-title {
  margin-top: 0;
}
/* line 34, ../../src/sass/editor/e_video.scss */
section.video-section .content .play svg {
  width: auto;
  height: 100%;
  margin-left: 20%;
}
/* line 41, ../../src/sass/editor/e_video.scss */
section.video-section .content h1, section.video-section .content h2, section.video-section .content h3, section.video-section .content h4, section.video-section .content h5, section.video-section .content h6, section.video-section .content p {
  color: #fff;
}
/* line 43, ../../src/sass/editor/e_video.scss */
section.video-section .content h1 {
  font-size: 56px;
}

/* line 3, ../../src/sass/editor/e_insta.scss */
.instagram-container .tile {
  position: relative;
  overflow: hidden;
}
/* line 8, ../../src/sass/editor/e_insta.scss */
.instagram-container .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  line-height: 1.2em;
  background: #333;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
     -moz-transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
       -o-transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
          transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
/* line 22, ../../src/sass/editor/e_insta.scss */
.instagram-container .content .content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px;
  overflow: hidden;
}
/* line 29, ../../src/sass/editor/e_insta.scss */
.instagram-container .content .ig-logo {
  margin-bottom: 20px;
}
/* line 33, ../../src/sass/editor/e_insta.scss */
.instagram-container .content svg path {
  fill: white;
}
/* line 38, ../../src/sass/editor/e_insta.scss */
.instagram-container .tile:hover .content {
  opacity: 1;
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
